<p-confirmdialog [key]="key"  [appendTo]="'body'"  [baseZIndex]="100"
   maskStyleClass="bg-primary/40!">
  <ng-template #headless let-onAccept="onAccept" let-onReject="onReject">
    <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
      <div class="rounded-full inline-flex justify-center items-center h-24 w-24 -mt-20" [ngClass]="circleClass">
        <i class="pi text-5xl! text-surface-0" [ngClass]="icon"></i>
      </div>

      <p class="text-2xl font-medium mt-2.5">{{ title }}</p>
      <p class="font-medium mb-0">{{ message }}</p>

      <div class="flex items-center gap-2 mt-6">
              @if (showAccept) {
          <p-button [label]="acceptLabel" (onClick)="onAccept()" [styleClass]="acceptStyleClass"></p-button>
        }
        @if (showReject) {
          <p-button [label]="rejectLabel" [outlined]="true" (onClick)="onReject()"></p-button>
        }
      </div>
    </div>
  </ng-template>
</p-confirmdialog>

<!-- VERDE (ejemplo) -->
<!-- <app-confirm-dialog
  key="anexo"
  title="Confirmación"
  message="¿Desea continuar?"
  icon="pi pi-check"
  circleClass="bg-primary"
  acceptLabel="Aceptar"
  acceptStyleClass="bg-primary">
</app-confirm-dialog> -->

<!-- ROJO (eliminar) -->
<!-- <app-confirm-dialog
  key="anexo"
  title="Confirmación"
  message="¿Está seguro de eliminar el documento?"
  icon="pi pi-question"
  circleClass="bg-red-500"
  acceptLabel="Eliminar"
  acceptStyleClass="btn-rojo"
   [showReject]="false">
</app-confirm-dialog> -->