<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="lg:sticky top-0 z-50 flex flex-col bg-surface-0 dark:bg-surface-960">

    <!-- HEADER -->
    <app-breadcrub></app-breadcrub>

    <!-- TÍTULO DE PÁGINA Y BOTONES -->
    <div class="mb-4 flex items-start flex-col md:flex-row justify-between">
        <div>
            <h1 class="text-3xl font-semibold text-surface-900 dark:text-surface-0 tracking-tight">
                Trámites {{ titulo }}
            </h1>
            <p class="text-surface-500 dark:text-surface-400 mt-1">
                Consulta y gestiona los trámites electrónicos.
            </p>
        </div>

        @if (mostrarBoton()) {
        <div class="flex items-center mt-4 md:mt-0">
            <p-button (click)="abrirModal()">
                <i pButtonIcon class="pi pi-search"></i>
                <span pButtonLabel>Buscar expediente</span>
            </p-button>
        </div>
        }
    </div>

    <!-- SECCIÓN DE FILTROS -->
    <div class="border border-surface border-b-0 rounded-t-2xl bg-surface-50 dark:bg-surface-900 p-4 shadow-sm">
        <form (ngSubmit)="aplicarFiltros()" aria-label="Filtros de búsqueda de trámites">
            <div class="grid grid-cols-12 gap-4 w-full items-end mt-4">

                <!-- Folio -->
                <div class="col-span-12 md:col-span-6 lg:col-span-4 w-full">
                    <label for="folio" class="block mb-2 text-sm font-medium">Folio</label>
                    <p-inputmask fluid [(ngModel)]="filtro.folio" name="folio" mask="9999/9999"
                        placeholder="0001/2026" />
                </div>

                <!-- Tipo de trámite -->
                <div class="col-span-12 md:col-span-6 lg:col-span-3 w-full">
                    <label for="tipo" class="block mb-2 text-sm font-medium">Tipo</label>
                    <p-select inputId="tipo" name="tipo" class="w-full" [options]="tipoOptions"
                        [(ngModel)]="filtro.tipo" optionLabel="label" optionValue="value" appendTo="body" fluid>
                    </p-select>
                </div>


                <!-- Fecha -->
                <div class="col-span-12 md:col-span-8 lg:col-span-3">
                    <label for="rangeDates" class="block mb-2 text-sm font-medium">Fecha</label>
                    <p-datepicker inputId="rangeDates" name="rangeDates" fluid placeholder="Selecciona rango"
                        [(ngModel)]="filtro.rangeDates" selectionMode="range" [readonlyInput]="true">
                    </p-datepicker>
                </div>

                <!-- Botones -->
                <div class="col-span-12 md:col-span-4 lg:col-span-2 flex gap-4">
                    <p-button type="button" icon="pi pi-filter-slash" [outlined]="true" (click)="limpiarFiltros()"
                        aria-label="Limpiar filtros">
                    </p-button>
                    <p-button type="submit" aria-label="Buscar" styleClass="btn-secondary">
                        <i pButtonIcon class="pi pi-search" aria-hidden="true"></i>
                        <span pButtonLabel>Buscar</span>
                    </p-button>
                </div>

            </div>
        </form>

    </div>
</div>

<!-- TABLA -->
<div class="border border-surface rounded-b-2xl bg-surface-0 dark:bg-surface-950 shadow-sm overflow-hidden mb-4 p-0">
    <p-table #dtTramites stripedRows [value]="tramites" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="onLazyLoad($event)"
        [globalFilterFields]="[
                'folioOficio',
                'expediente.NumExpediente',
                'expediente.juzgado.Descripcion',
                'cat_tramite.nombre'
            ]">

        <ng-template #caption>
            <div class="flex items-center justify-end">
                <p-iconfield iconPosition="left">
                    <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                    <input pInputText type="text"
                        (input)="dtTramites.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar en la tabla..." aria-label="Buscar" class="w-full md:w-64" />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th scope="col">Folio trámite</th>
                <th scope="col">Expediente</th>
                <th scope="col">Juzgado</th>
                <th scope="col">Tipo trámite</th>
                <th scope="col">Fecha Creado</th>
                <th scope="col">Estatus</th>
                <th scope="col">Acciones</th>
            </tr>
        </ng-template>

        <ng-template #body let-tramite>
            <tr>
                <td>
                    # <span class="font-semibold">{{ tramite.folio }}</span>
                </td>
                <td>{{ tramite.expediente?.NumExpediente }}</td>
                <td>{{ tramite.expediente?.juzgado?.Descripcion }}</td>
                <td>
                    <p-tag [value]="(getDescripcionTramite(tramite) | uppercase) ?? ''"
                        [severity]="getTagTramite(tramite).severity" [icon]="getTagTramite(tramite).icon" />
                </td>
                <td>{{ tramite.created_at | date: 'dd/MM/yyyy HH:mm' }} h</td>
                <td>
                    <p-tag [value]="(getEstadoDescripcion(tramite) | uppercase) ?? ''"
                        [severity]="getEstadoTag(tramite).severity" [icon]="getEstadoTag(tramite).icon ?? ''" />
                </td>
                <td>
                    <p-button (click)="detalle(tramite.idTramite)" [rounded]="true" [text]="true" [raised]="true"
                        severity="info" icon="pi pi-eye" pTooltip="Ver detalle" tooltipPosition="top" title="Detalle">
                    </p-button>
                </td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="7">Sin registros</td>
            </tr>
        </ng-template>

    </p-table>
</div>

<!-- MODAL BUSCAR EXPEDIENTE -->
<p-dialog header="Búsqueda del expediente" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">

    <form [formGroup]="expedienteForm">
        <div class="flex flex-col gap-4">

            <div class="flex flex-col gap-1">
                <label for="folio" class="text-sm font-medium">Folio preregistro</label>
                <input pInputText id="folio" type="text" formControlName="folio" maxlength="9"
                    placeholder="0001/2026" />
            </div>

            <div class="flex flex-col gap-1">
                <label for="numExpediente" class="text-sm font-medium">Número de expediente</label>
                <input pInputText id="numExpediente" type="text" formControlName="expediente" maxlength="9"
                    placeholder="0001/2026" />
            </div>
            <div class="flex flex-col gap-1">
                <label for="numExpediente" class="text-sm font-medium">Número de expediente</label>
                <p-select formControlName="juzgado" [filter]="true" placeholder="Selecciona un juzgado"
                    [options]="juzgados" optionLabel="Descripcion" optionValue="IdCatJuzgado">
                </p-select>
            </div>
        </div>

        <div class="flex justify-end gap-2 mt-6">
            <p-button label="Cancelar" severity="secondary" (click)="cerrarModal()" />
            <p-button type="submit" label="Buscar" [disabled]="expedienteForm.invalid" appendTo="body"
                (onClick)="busqueda()" />
        </div>
    </form>

</p-dialog>

<p-toast></p-toast>