<app-spinner [isLoading]="isLoading"></app-spinner>
<!-- BLOQUE FIJO (HEADER + BUSQUEDA) -->
<div class="sticky top-0 z-50 bg-surface-50 dark:bg-surface-950 flex flex-col gap-4">
    <!-- HEADER -->
    <app-breadcrub></app-breadcrub>
    <!-- BUSQUEDA -->
    <div class="bg-surface-50 dark:bg-surface-950 border border-surface rounded-2xl p-4">
        <div class="flex items-start flex-col md:flex-row justify-between">
            <label class="font-bold text-2xl text-surface-900 dark:text-surface-0 mb-4 md:mb-0">
                    Acuerdos de exhorto recibido
            </label>
        </div>
    </div>
</div>
<!-- Start coding here -->
<div class="relative z-0 mt-4 bg-surface-50 dark:bg-surface-950 border border-surface rounded-2xl mb-4 p-4">
    <div class="flex items-start flex-col md:justify-between md:flex-row">
        <div>
            <div class="w-full max-w-screen-xl px-0 mx-auto ">
                <!-- Start coding here -->
                <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                    <div class="relative overflow-hidden bg-white  dark:bg-gray-800 sm:rounded-lg">
                        <div class="flex-row items-center justify-between p-4 space-y-3 sm:flex sm:space-y-0 sm:space-x-4">
                            <div>
                            <h5 class="mr-3 font-semibold dark:text-white">Generales</h5>
                            <!--<p class="text-gray-500 dark:text-gray-400">Detalle de notificación</p>-->
                            </div>
                        </div>
                    </div>
                    <div class="overflow-x-auto" >
                    @if (detallesAcuerdo) {
                        <p-table [value]="[detallesAcuerdo]"  [resizableColumns]="true" 
                            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
                             [expandedRowKeys]="expandedRows"
                            (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)">
                            <ng-template pTemplate="header">
                                <tr class="uppercase text-xs">
                                <th ></th>
                                <th >Folio</th>
                                <th >Tipo de Diligencia </th>
                                <th >Fecha envío </th>
                                <th >Fecha recepción </th>
                                <th >Observaciones</th>
                                <th ></th>
                                <!--<th class="px-2 py-2">Acciones</th>-->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body"     let-Acuerdo let-expanded="expanded">
                                <tr class="uppercase text-xs">
                                    <td class="px-3 py-2">
                                        <button type="button"
                                        value="{{Acuerdo.generales.idRespuesta}}"
                                        (click)="expandedRows[Acuerdo.generales.idRespuesta] = !expandedRows[Acuerdo.generales.idRespuesta]"
                                        class="flex items-center justify-center w-8 h-8 rounded-full text-gray-500 bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-400">
                                        <i [class]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                        </button>
                                    </td>
                                    <td style="font-size: small;">{{ Acuerdo.generales.folio }}</td>
                                    <td style="font-size: small;">{{ Acuerdo.generales.tipoDiligencia }}</td>
                                    <td style="font-size: small;">{{ Acuerdo.generales.fechaEnvio | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                    <td style="font-size: small;">{{ Acuerdo.generales.fechaHoraRecepcion | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td style="font-size: small;">{{ Acuerdo.generales.observaciones }}</td>
                                    <td class="text-center">
                                        <div class="flex justify-center gap-3">

                                            @if(tienePermisoEditar() && puedeEditarSegunFlujo()){
                                                @if(!generalesEnviado){
                                                    <div class="relative">
                                                        <p-button (click)="generarAcuerdo(idNotificacion, Acuerdo.generales.idRespuesta)" severity="warn"
                                                        icon="">Editar</p-button>
                                                    </div>
                                                }
                                            }
                                            @if(!generalesEnviado){
                                                <!--si el estatus de la promocion es diferente a: 3=Promoción enviada, 4=Finalizado puede seguir editando la promocion-->
                                                @if (tienePermisoEnviarGenerales()) {
                                                    @if(puedeEnviarGenerales()){
                                                        <div class="relative">
                                                            <p-button (click)="enviarAcuerdoGenerales(this.idNotificacion)"
                                                            ><i class="bi bi-send"></i> Enviar generales</p-button>
                                                        </div>
                                                    }
                                                }

                                            }
                                            @else{
                                                @if(!archivosEnviado)   {
                                                    @if (tienePermisoEnviarArchivos()) {
                                                        <div class="relative">
                                                            <p-button type="button" (click)="enviarAcuerdoArchivos(this.idNotificacion)"
                                                                class=""><i class="bi bi-send"></i> Enviar archivos
                                                            </p-button>
                                                        </div>
                                                    }

                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                                <!-- Expanded row details -->
                                @if (expandedRows[Acuerdo.generales.idRespuesta]) {
                                    <tr class="bg-gray-50 dark:bg-gray-800">
                                    <td colspan="8" class="px-4 py-4">
                                        <p class="text-gray-800 dark:text-gray-200 font-semibold mb-2">Documentos:</p>
                                        @if (Acuerdo.generales) {
                                        <p-table [value]="Acuerdo.archivos" dataKey="idDetalleActo"
                                            class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                            <ng-template pTemplate="header">
                                            <tr class="uppercase text-xs">
                                                <th >Nombre del documento</th>
                                                <th >Tipo de documento</th>
                                                <th >Firmado</th>
                                                <th >Fecha</th>
                                                <th style="min-width: 10rem" class="text-center">Acciones</th>
                                            </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-Archivos>
                                            <tr class="border-b dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-900">
                                                <td style="font-size: small;">{{ Archivos.nombreArchivo }}</td>
                                                <td style="font-size: small;">{{ Archivos.tipoDocumento.nombre }}</td>
                                                <td style="font-size: small;">
                                                @if(Archivos.firmado){
                                                    <p>Si</p>
                                                }
                                                @else{
                                                <p>No</p>
                                                }
                                            </td>
                                            <td style="font-size: small;">
                                                {{ Archivos.fechaFirmado | date:'yyyy-MM-dd HH:mm:ss'}}
                                            </td>
                                            <td class="text-center">
                                                <p-button (onClick)="mostrarArchivo(Archivos,1)" severity="success" [rounded]="true"
                                                    icon="pi pi-file-pdf" class="mr-2" title="descargar">
                                                </p-button>
                                                @if(!generalesEnviado)
                                                    {
                                                    <p-button (onClick)="eliminarDocumento(Archivos.idArchivo)" icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true">
                                                    </p-button>

                                                    }
                                                </td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="emptymessage">
                                                <tr>
                                                <td colspan="5" class="px-4 py-2 text-gray-500 dark:text-gray-400">No hay
                                                detalles disponibles para esta promoción.</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                         @if(mostrarDocumento()){
                                            <app-pdf-dialog [header]="nombre" [url]="documentoUrl" [(visible)]="mostrarDocumento">
                                            </app-pdf-dialog>
                                        } 
                                        }
                                        </td>
                                    </tr>
                                }
                            </ng-template>
                        </p-table>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--* MODAL DE CONFIRMACION PARA ENVIAR LOS DATOS GENERALES DEL ACUERDO -->
<app-confirm-dialog key="enviarGenerales" title="Confirmación" message="¿Está seguro que desea enviar los datos generales del acuerdo?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>
<!--* MODAL DE CONFIRMACION PARA ENVIAR LOS ARCHIVOS DEL ACUERDO -->
<app-confirm-dialog key="enviarArchivos" title="Confirmación" message="¿Está seguro que desea enviar los archivos del acuerdo?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>
<!--* MODAL DE CONFIRMACION PARA ENVIAR LOS ARCHIVOS DEL ACUERDO -->
<app-confirm-dialog key="eliminarArchivos" title="Confirmación" message="¿Está seguro que desea eliminar este documento?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>

<!--*DIALOG PARA LA CONFIRMACION DE ENVIO DE RESPUESTA-->
<p-dialog [(visible)]="envioDialog" [style]="{ width: '600px' }" header="Agregra parte" [modal]="true">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
        
        <div class="panel-heading bg-morado  hover:bg-morado_hover rounded-lg">
            <h3 class="pt-3 font-weight-bold text-center text-white">Acuse de envío de respuesta</h3>
        </div>
        <div class="panel-body p-3">
            <div class="flex flex-col space-y-2">
            <div class="overflow-x-auto"> 
                @if (enviadoRespuestaArchivosResponse) {
                <table class="table-auto md:table-fixed w-full">
                    <tr>
                    <td class="col1"><p class="text-gray-700 dark:text-gray-300"><b>Exhorto Origen:</b></p></td>
                    <td class="col2">{{ enviadoRespuestaArchivosResponse.acuse.exhortoId || 'No disponible' }}</td>
                    </tr>
                    <tr>
                    <td class="col1"><p class="text-gray-700 dark:text-gray-300"><b>Respuesta Origen:</b></p></td>
                    <td class="col2">{{ enviadoRespuestaArchivosResponse.acuse.respuestaOrigenId || 'No disponible' }}</td>
                    </tr>
                    <tr>
                    <td class="col1"><p class="text-gray-700 dark:text-gray-300"><b>Fecha hora recepción:</b></p></td>
                    <td class="col2">{{ enviadoRespuestaArchivosResponse.acuse.fechaHoraRecepcion || 'No disponible' |  date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    </tr>
                </table>
                }
            </div>
            </div>
        </div>
        @if (!enviadoRespuestaArchivosResponse) {
            <div  class="text-center py-8 text-gray-500">
            No hay información de acuse disponible
            </div>
        }
        </div>
    </div>
    <ng-template #footer>
        <p-button label="Aceptar" icon="pi pi-check" text (click)="hideDialogAcuse()" />
    </ng-template>
</p-dialog>
<p-toast></p-toast>
      <!--<script>
        // Flowbite usa toggles para mostrar y ocultar elementos.
        document.querySelectorAll('[data-collapse-toggle]').forEach(button => {
        button.addEventListener('click', function () {
        const targetId = button.getAttribute('data-collapse-toggle');
        const targetElement = document.getElementById(targetId);
        targetElement.classList.toggle('hidden');
        });
        });
      </script>-->


<!--

      <p-toast></p-toast>
      <p-confirmpopup />

      <div>
        @if (enviadoRespuestaArchivosResponse) {
          <app-modal id="modal2">
            <div class="relative p-4 w-full max-w-md max-h-full">
              <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                
                <div class="panel-heading bg-morado  hover:bg-morado_hover rounded-lg">
                  <h3 class="pt-3 font-weight-bold text-center text-white">Información de la promoción</h3>
                </div>
                <div class="panel-body p-3">
                  <div class="flex flex-col space-y-2">
                    <div class="overflow-x-auto"> 
                      @if (enviadoRespuestaArchivosResponse) {
                        <table class="table-auto md:table-fixed w-full">
                          <tr>
                            <td class="col1"><p class="text-gray-700 dark:text-gray-300"><b>Exhorto Origen:</b></p></td>
                            <td class="col2">{{ enviadoRespuestaArchivosResponse.acuse.exhortoId || 'No disponible' }}</td>
                          </tr>
                          <tr>
                            <td class="col1"><p class="text-gray-700 dark:text-gray-300"><b>Respuesta Origen:</b></p></td>
                            <td class="col2">{{ enviadoRespuestaArchivosResponse.acuse.respuestaOrigenId || 'No disponible' }}</td>
                          </tr>
                          <tr>
                            <td class="col1"><p class="text-gray-700 dark:text-gray-300"><b>Fecha hora recepción:</b></p></td>
                            <td class="col2">{{ enviadoRespuestaArchivosResponse.acuse.fechaHoraRecepcion || 'No disponible' }}</td>
                          </tr>
                        </table>
                      }
                    </div>
                  </div>
                </div>
                @if (!enviadoRespuestaArchivosResponse) {
                  <div  class="text-center py-8 text-gray-500">
                    No hay información de acuse disponible
                  </div>
                }
              </div>
            </div>
          </app-modal>
        }
      </div>
    -->

