<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="lg:sticky top-0 z-50 flex flex-col bg-surface-0 dark:bg-surface-950 pt-2 pb-0">

    <!-- HEADER -->
    <app-header></app-header>
    <app-breadcrub></app-breadcrub>

    <!-- TÍTULO DE PÁGINA Y BOTONES -->
    <div class="mb-4 flex flex-col md:flex-row md:items-center justify-between">
        <div>
        <h1 class="text-2xl font-semibold text-surface-900 dark:text-surface-0 tracking-tight">
                Detalle del expediente
            </h1>
            <p class="text-surface-500 dark:text-surface-400 mt-1">
                Visualiza y gestiona los trámites de este expediente.
            </p>
        </div>
        <div class="flex gap-2 flex-wrap mt-4 md:mt-0 items-center">
            <p-button (onClick)="irACrearTramite(expediente()?.idExpediente!, expediente()?.NumExpediente!)"
                styleClass="btn-secondary" icon="pi pi-file-plus" label="Nueva promoción"></p-button>

            @if (mostrarBoton()) {
            <p-button (onClick)="irACrearRequerimiento(expediente()?.idExpediente!, expediente()?.NumExpediente!)"
                icon="pi pi-pencil" label="Requerimiento"></p-button>
            }

            @if (mostrarBoton()) {
            <p-button (onClick)="goCrearAudiencia(expediente()?.idExpediente!, expediente()?.NumExpediente!)"
                styleClass="btn-tertiary" icon="pi pi-calendar" label="Programar Audiencia"></p-button>
            }
        </div>
    </div>

    <!-- SECCIÓN DE FILTROS (Fondo sutil, parte superior de la tarjeta) -->
    <div class="border border-surface border-b-0 rounded-t-2xl bg-surface-50 dark:bg-surface-900 p-4 shadow-sm">
        <form (ngSubmit)="aplicarFiltros()" aria-label="Filtros de búsqueda">
            <div class="grid grid-cols-12 gap-4 w-full items-end">
                <!-- Folio -->
                <div class="col-span-6 lg:col-span-4 w-full">
                    <label for="folio" class="block mb-2 text-sm font-medium">Folio</label>

                    <p-inputmask fluid [(ngModel)]="filtro.folio" name="folio" class="uppercase text-sm rounded-lg"
                        mask="9999/9999" placeholder="0001/2026" />
                </div>

                <!-- Estatus -->
                <div class="col-span-6 lg:col-span-2 w-full">
                    <label for="estado" class="block mb-2 text-sm font-medium">Estatus</label>

                    <p-select inputId="estado" name="estado" class="w-full" [options]="tipoOptions"
                        [(ngModel)]="filtro.tipo" optionLabel="label" optionValue="value" appendTo="body" fluid
                        [attr.aria-label]="'Estatus'"></p-select>
                </div>

                <!-- Fecha -->
                <div class="col-span-12 md:col-span-8 lg:col-span-3 ">
                    <label for="rangeDates" class="block mb-2 text-sm font-medium">Fecha</label>

                    <p-datepicker inputId="rangeDates" name="rangeDates" fluid placeholder="Selecciona rango"
                        [(ngModel)]="filtro.rangeDates" selectionMode="range" [readonlyInput]="true"></p-datepicker>
                </div>

                <!-- Botones -->
                <div class="col-span-12 md:col-span-4 lg:col-span-2 flex gap-4 ">
                    <p-button type="button" icon="pi pi-filter-slash" [outlined]="true" (click)="limpiarFiltros()"
                        aria-label="Limpiar filtros"></p-button>

                    <p-button type="submit" aria-label="Buscar">
                        <i pButtonIcon class="pi pi-search" aria-hidden="true"></i>
                        <span pButtonLabel>Buscar</span>
                    </p-button>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- SECCIÓN DE LA TABLA (Hace scroll, parte inferior de la tarjeta) -->
<div class="border border-surface rounded-b-2xl bg-surface-0 dark:bg-surface-950 shadow-sm overflow-hidden mb-4 p-0">
    <p-table #dtInicio stripedRows [value]="tablaDatos()" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true" [globalFilterFields]="[
    'folio',
    'cat_via_materia.cat_materia.Descripcion',
    'cat_via_materia.cat_via.descripcion',
    'historial_estado.0.estado.descripcion'
  ]">
        <ng-template #caption>
            <div class="flex items-center justify-end">
                <!-- Búsqueda rápida de tabla -->
                <p-iconfield iconPosition="left">
                    <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                    <input pInputText type="text" (input)="dtInicio.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar en la tabla..." aria-label="Buscar" class="w-full md:w-64" />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template #header class="bg-red-500">
            <tr>
                <th scope="col">Folio Trámite</th>
                <th scope="col">Trámite</th>
                <th scope="col">Fecha del trámite</th>
                <th scope="col">Estatus</th>
                <th scope="col">Acciones</th>
            </tr>
        </ng-template>

        <ng-template #body let-tablaDato>
            <tr>
                <td>
                    <span># {{ tablaDato.folio }}</span>
                </td>

                <td>
                    <p-tag [value]="(getDescripcionTramite(tablaDato.datosOriginales) | uppercase) ?? tablaDato.nombre"
                        [severity]="getTagTramite(tablaDato.datosOriginales).severity"
                        [icon]="getTagTramite(tablaDato.datosOriginales).icon" />
                </td>

                <td>
                    {{ tablaDato.fecha | date : "dd/MM/yyyy HH:mm" }} h
                </td>

                <td>
                    <p-tag [value]="(getEstadoDescripcion(tablaDato.datosOriginales) | uppercase) ?? tablaDato.estado"
                        [severity]="getEstadoTag(tablaDato.datosOriginales).severity"
                        [icon]="getEstadoTag(tablaDato.datosOriginales).icon">
                    </p-tag>
                </td>


                <td>
                    <p-button (click)="verDetalle(tablaDato)" [rounded]="true" [text]="true" [raised]="true"
                        severity="info" [rounded]="true" icon="pi pi-eye" pTooltip="Ver detalle" tooltipPosition="top"
                        title="Detalle">
                    </p-button>

                </td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="6">Sin registros</td>
            </tr>
        </ng-template>
    </p-table>
</div>