<app-spinner [isLoading]="isLoading()"></app-spinner>

<div class="relative mx-auto mt-4 border border-surface-200 bg-white p-5 dark:border-surface-800 dark:bg-surface-900">
    <!-- Esquinas decorativas -->
    <span
        class="pointer-events-none absolute -left-px -top-px h-3 w-3 border-l border-t border-surface-800 dark:border-surface-200"></span>

    <span
        class="pointer-events-none absolute -right-px -top-px h-3 w-3 border-r border-t border-surface-800 dark:border-surface-200"></span>

    <span
        class="pointer-events-none absolute -bottom-px -left-px h-3 w-3 border-b border-l border-surface-800 dark:border-surface-200"></span>

    <span
        class="pointer-events-none absolute -bottom-px -right-px h-3 w-3 border-b border-r border-surface-800 dark:border-surface-200"></span>

    <div class="mb-5 flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between">
        <div class="min-w-0">
            <h1 class="text-xl font-medium tracking-tight text-surface-900 dark:text-surface-0"> <span class="pi pi-hammer text-lg text-primary"></span> Asignación de días
                inhábiles</h1>

            <p class="mt-1 text-sm leading-5 text-surface-500 dark:text-surface-400">
                Listado de sedes configuradas con días inhábiles, puedes buscar por nombre de sede y ver su detalle.
            </p>
        </div>

        <div class="shrink-0">
            <button pButton type="button" class="w-full sm:w-auto" (click)="irANuevaAsignacion()">
                <i pButtonIcon class="pi pi-plus"></i>
                <span pButtonLabel>Nueva asignación</span>
            </button>
        </div>
    </div>

    <!-- RESULTADOS -->
    <div class="relative bg-surface-50 sm:p-0 p-4 mt-4 gap-4 transition-colors dark:bg-surface-950/30">
        <!-- Encabezado de resultados -->
        <div class="p-4">
            <h2 class="text-base font-semibold leading-5 text-surface-800 dark:text-surface-100">
                Listado
            </h2>

            <p class="mt-1 max-w-2xl text-sm leading-5 text-surface-500 dark:text-surface-400">
                Realice una búsqueda para agilizar la consulta de las configuraciones.
            </p>
        </div>

        <!-- Separador -->
        <div class=" border-t-[0.5px] border-surface-200 dark:border-surface-800"></div>

        <p-table class="personalizado" #dt1 stripedRows [value]="diasInhabilesSedes()" dataKey="id" [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
            [globalFilterFields]="['folio', 'fechaEnvio', 'observaciones', 'cantidadAnexos']">
            <ng-template #caption>
                <form [formGroup]="formFiltrosTabla" class="w-full">
                    <div class="flex w-full p-2 flex-col gap-4 sm:flex-row sm:items-end sm:justify-end">
                        <div class="w-full sm:w-80">
                            <p-floatlabel variant="on" class="w-full">
                                <input pInputText id="on_label" formControlName="nombre" autocomplete="off" fluid />
                                <label for="on_label">Nombre</label>
                            </p-floatlabel>
                        </div>

                        <div class="flex justify-end gap-2">
                            <button pButton  severity="secondary" aria-label="Limpiar filtros">
                                <i pButtonIcon class="pi pi-filter-slash"></i>
                            </button>

                            <!-- <button pButton type="submit" class="hidden sm:inline-flex"
                                [disabled]="formFiltrosTabla.invalid">
                                <i pButtonIcon class="pi pi-search"></i>
                                <span pButtonLabel>Buscar</span>
                            </button> -->
                        </div>
                    </div>
                </form>
            </ng-template>

            <ng-template #header>
                <tr>
                    <th class="text-base font-semibold">Día Inhabil</th>
                    <th class="text-base font-semibold">Descripcion</th>
                    <th class="text-base font-semibold">Fecha Inicio</th>
                    <th class="text-base font-semibold">Fecha Fin</th>
                    <th class="text-base font-semibold">Sedes</th>
                    <th pFrozenColumn alignFrozen="right" class="text-base font-semibold">Acciones</th>
                </tr>
            </ng-template>

            <ng-template #body let-DiaInhabilSede>
                <tr>
                    <td>{{ DiaInhabilSede.diaInhabil.nombre }}</td>
                    <td>{{ DiaInhabilSede.diaInhabil.descripcion }}</td>
                    <td>{{ DiaInhabilSede.diaInhabil.fechaInicio | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ DiaInhabilSede.diaInhabil.fechaFin | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>
                        <div class="inline-flex items-center gap-2 rounded-lg
               bg-surface-100 px-3 py-1.5
               text-surface-700
               dark:bg-surface-800 dark:text-surface-200">
                            <i class="pi pi-building text-sm text-primary"></i>

                            <span class="text-sm font-semibold">
                                {{ DiaInhabilSede.numeroSedes }}
                            </span>

                        </div>
                    </td>
                    <td pFrozenColumn alignFrozen="right">
                        <button pButton type="button" (click)="detalleSede(DiaInhabilSede.diaInhabil.id)"
                            pTooltip="Ver detalle" tooltipPosition="top" aria-label="Ver detalle">
                            <i pButtonIcon class="pi pi-pencil"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>

            <ng-template #emptymessage>
                <tr>
                    <td colspan="5" class="py-4 text-center text-sm text-surface-500 dark:text-surface-400">
                        No se encontraron promociones electrónicas.
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<!-- <app-confirm-dialog key="info" title="No hay coincidencias" message="La causa o el juzgado es incorrecto."
    icon="pi pi-info" circleClass="bg-blue-500" acceptLabel="Aceptar" acceptStyleClass="btn-info" [showReject]="false">
</app-confirm-dialog> -->