<app-spinner [isLoading]="isLoading()"></app-spinner>
<div class="lg:sticky top-0 z-50 flex flex-col bg-surface-0 dark:bg-surface-960">
    <!-- HEADER -->
    <app-breadcrub></app-breadcrub>

    <!-- TÍTULO DE PÁGINA -->
    <div class="mb-2">
        <h1 class="text-3xl font-semibold text-surface-900 dark:text-surface-0 tracking-tight">
            Entrega Recepción
        </h1>
        <p class="text-surface-500 dark:text-surface-400 mt-1">
            Gestiona los trámites de primera instancia pendientes de recibir en tu juzgado.
        </p>
    </div>

    <!-- SECCIÓN DE FILTROS  -->
    <div class="border border-surface border-b-0 rounded-t-2xl bg-surface-50 dark:bg-surface-900 p-4 shadow-sm">
        <form (ngSubmit)="aplicarFiltros()" aria-label="Filtros de búsqueda de exhortos enviados">
            <div class="grid grid-cols-12 gap-4 w-full items-end">
                <!-- Folio -->
                <div class="col-span-12 md:col-span-6 lg:col-span-4 w-full">
                    <label for="folio" class="block mb-2 text-sm font-medium">Folio</label>
                    <p-inputmask fluid [(ngModel)]="filtro.folio" name="folio" class="uppercase text-sm rounded-lg"
                        mask="9999/9999" placeholder="0001/2026" />
                </div>

                <!-- Estatus -->
                <div class="col-span-12 md:col-span-6 lg:col-span-2 w-full">
                    <label for="estado" class="block mb-2 text-sm font-medium">Estatus</label>

                    <p-select inputId="estado" name="estado" class="w-full" [options]="estadoOptions"
                        [(ngModel)]="filtro.estado" optionLabel="label" optionValue="value" appendTo="body" fluid
                        [attr.aria-label]="'Estatus'"></p-select>
                </div>

                <!-- Fecha -->
                <div class="col-span-12 md:col-span-8 lg:col-span-3 ">
                    <label for="rangeDates" class="block mb-2 text-sm font-medium">Fecha</label>

                    <p-datepicker inputId="rangeDates" name="rangeDates" fluid placeholder="Selecciona rango"
                        [(ngModel)]="filtro.rangeDates" selectionMode="range" [readonlyInput]="true"></p-datepicker>
                </div>

                <!-- Botones -->
                <div class="col-span-12 md:col-span-4 lg:col-span-2 flex gap-4 ">
                    <p-button type="button" icon="pi pi-filter-slash" [outlined]="true" (click)="limpiarFiltros()"
                        aria-label="Limpiar filtros"></p-button>

                    <p-button type="submit" aria-label="Buscar">
                        <i pButtonIcon class="pi pi-search" aria-hidden="true"></i>
                        <span pButtonLabel>Buscar</span>
                    </p-button>
                </div>
            </div>
        </form>
    </div>
    <!-- Fina de la sección sticky -->
</div>

<!-- SECCIÓN DE LA TABLA  -->
<div class="border border-surface rounded-b-2xl bg-surface-0 dark:bg-surface-950 shadow-sm overflow-hidden mb-4 p-0">
    <p-table #dtInicio stripedRows [value]="tramites()" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="onLazyLoad($event)"
        [(selection)]="tramitesSeleccionados" [globalFilterFields]="[
          'folio',
          'cat_via_materia.cat_materia.Descripcion',
          'cat_via_materia.cat_via.descripcion',
          'historial_estado.0.estado.descripcion'
        ]">

        <ng-template #caption>
            <div class="flex items-center justify-between">
                <!-- Botón de acciones masivas -->
                <p-button icon="pi pi-ellipsis-v" label="Acciones" [outlined]="true"
                    [disabled]="!tramitesSeleccionados.length" (click)="menuAcciones.toggle($event)"
                    [badge]="tramitesSeleccionados.length ? '' + tramitesSeleccionados.length : undefined"
                    badgeSeverity="contrast">
                </p-button>
                <p-menu #menuAcciones [model]="accionesItems" [popup]="true" appendTo="body" />

                <!-- Búsqueda rápida de tabla -->
                <p-iconfield iconPosition="left">
                    <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                    <input pInputText type="text" (input)="dtInicio.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar en la tabla..." aria-label="Buscar" class="w-full md:w-64" />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th>
                    <p-tableHeaderCheckbox />
                </th>
                <th scope="col">Folio</th>
                <th scope="col">No. Expediente</th>
                <th scope="col">Juzgado</th>
                <th scope="col">Tipo trámite</th>
                <th scope="col">Fecha Recepción</th>
                <th scope="col">Estatus</th>
                <th pFrozenColumn alignFrozen="right" scope="col"></th>
            </tr>
        </ng-template>

        <ng-template #body let-tramite>
            <tr>
                <td>
                    <p-tableCheckbox [value]="tramite" />
                </td>
                <td>{{ tramite.folio }}</td>
                <td>{{ tramite.expediente.NumExpediente }}</td>
                <td>{{ tramite.expediente.juzgado.Descripcion }}</td>
                <td>
                    <p-tag [value]="(getDescripcionTramite(tramite) | uppercase) ?? ''"
                        [severity]="getTagTramite(tramite).severity" [icon]="getTagTramite(tramite).icon" />
                </td>
                <td>{{ tramite.ultimo_estado.fechaEstado | date: 'dd/MM/yyyy HH:mm' }} h</td>
                <td>
                    <p-tag [value]="(getEstadoDescripcion(tramite) | uppercase) ?? ''"
                        [severity]="getEstadoTag(tramite).severity" [icon]="getEstadoTag(tramite).icon" />
                </td>
                <td pFrozenColumn alignFrozen="right">
                    @if (tramite.cat_tramite?.idCatTramite === 3) {
                    <p-button (click)="detalleDemanda(+tramite.idEntidad)" [rounded]="true" [raised]="true"
                        icon="pi pi-eye" pTooltip="Ver detallee" tooltipPosition="top">
                    </p-button>
                    } @else {
                    <p-button (click)="detalleTramite(tramite.idTramite)" [rounded]="true" [raised]="true"
                        icon="pi pi-eye" pTooltip="Ver detalle" tooltipPosition="top">
                    </p-button>
                    }

                </td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="8">Sin registros</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-toast></p-toast>

<app-confirm-dialog key="recibir" title="Confirmación" message="¿Desea recibir la(s) demanda(s)?" icon="pi pi-check"
    circleClass="bg-primary" acceptLabel="Aceptar" rejectLabel="Cancelar" acceptStyleClass="bg-primary">
</app-confirm-dialog>