<div class="relative min-h-screen lg:h-screen bg-surface-0 dark:bg-surface-900 flex lg:flex-row flex-col">
    <div class="flex lg:flex lg:flex-row flex-col justify-center md:justify-normal h-full flex-1">
        <div class="relative flex-1 z-20 flex items-center justify-center">
            <div class="flex items-center justify-center h-full">

                <div class="w-full max-w-2xl px-6 py-12 lg:p-12 xl:p-16 text-center lg:text-left">

                    <h1
                        class="text-4xl xl:text-5xl font-bold text-surface-900 dark:text-surface-0 mb-6 leading-tight!">
                        <span class="block">Configura tu acceso</span>
                        <span class="block text-primary">selecciona adscripción y perfil</span>
                    </h1>
                    <p class="text-surface-600 dark:text-surface-200 mb-6">
                        Selecciona primero la adscripción y después el perfil con el que deseas ingresar al sistema.
                    </p>

                    <div class="flex flex-col gap-6">
                        <p-select 
                        [options]="listaAreas" 
                        optionLabel="area" 
                        optionValue="idArea"
                        [ngModel]="areaSeleccionada()"
                        placeholder="Selecciona un área"
                        class="w-full"
                             (ngModelChange)="onAreaChange($event)"
                             />

                        <p-select [options]="perfil" 
                        optionLabel="descripcion" 
                        placeholder="Selecciona tu perfil"
                        optionValue="idSistemaPerfil"
                        [ngModel]="perfilSeleccionado()"
                        (ngModelChange)="perfilSeleccionado.set($event)"
                            class="w-full" />
                             <div class="flex items-center text-white/80">
                                <p-checkbox  [(ngModel)]="recordar"
                                 id="rememberme" 
                                 [binary]="true"  
                                 class="mr-3"></p-checkbox>
                                <label class="text-surface-600 dark:text-surface-200">Recordar perfil seleccionado</label>
                            </div>   
                        <div
                            class="flex flex-col sm:flex-row items-stretch sm:items-center gap-4 justify-center lg:justify-start">
                            <p-button type="button" (click)="continuar()" styleClass="w-full sm:w-auto ">
                                <span pButtonIcon class="pi pi-google mr-1"></span>
                                <span pButtonLabel>Continuar</span>
                            </p-button>

                            <p-button type="button" outlined class="w-full sm:w-auto">
                                <span pButtonLabel>Salir</span>
                            </p-button>
                        </div>
                    </div>

                </div>

            </div>
<p-toast></p-toast>

            <div class="hidden lg:block lg:static lg:inset-auto lg:z-0 lg:flex-1">
                <img src="/justice.jpg" alt="hero-1"
                    class="h-full w-full object-cover lg:[clip-path:polygon(12%_0,100%_0%,100%_100%,0_100%)] md:[clip-path:none]" />
            </div>
        </div>
    </div>
</div>