<div class="h-dvh overflow-hidden px-6 flex items-center justify-center backdrop-blur-3xl bg-cover! bg-center! bg-no-repeat!"
    style="background-image: url('/img.png')">
    <div
        class=" px-10 py-5 flex flex-col items-center gap-12 w-full backdrop-blur-2xl rounded-2xl bg-white/10 border border-white/10 max-w-md">
        <div class="flex flex-col items-center gap-4 w-full">
            <!-- Logo en imagen en lugar de SVG -->
            <img src="/logo-01.png" alt="Logo" class="h-29 w-29 object-contain" />
            <div class="flex flex-col gap-2 w-full">
                <div class="text-center uppercase text-lg md:text-xl font-semibold text-white leading-tight">
                    Bienvenido al Sistema Integral<br class="hidden md:block" />
                    de Justicia Digital
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center gap-8 w-full">
            <div class="flex flex-col gap-6 w-full">
                <p-iconfield icon-position="left">
                    <p-inputicon class="pi pi-user text-white/70!"></p-inputicon>
                    <input pInputText type="text" [(ngModel)]="usuario" (keydown.enter)="passwordFocus()"
                        class="appearance-none! border! border-white/10! w-full! outline-0! bg-white/10! text-white! placeholder:text-white/70! rounded-3xl! shadow-sm!"
                        placeholder="Usuario" />
                </p-iconfield>
                <p-iconfield icon-position="left">
                    <p-inputicon class="pi pi-lock text-white/70!"></p-inputicon>
                    <input pInputText type="password" [(ngModel)]="contrasenia" (keydown.enter)="passwordEnter()" #passwordInput
                        class="appearance-none! border! border-white/10! w-full! outline-0! bg-white/10! text-white! placeholder:text-white/70! rounded-3xl! shadow-sm!"
                        placeholder="Contraseña" />
                </p-iconfield>
                <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                    <div class="flex items-center text-white/80">
                        <p-checkbox  [(ngModel)]="recordar" id="rememberme" [binary]="true"  class="mr-1"></p-checkbox>
                        <label for="rememberme">Recordarme</label>
                    </div>
                    <span class="font-medium no-underline ml-2 text-right  text-white/80 cursor-pointer hover:text-white/90" (click)="forgotPassword()">¿Olvidaste tu Contraseña?</span>
                </div>
            </div>
            
            <button pButton (click)="validarUsuario()"
                class="w-full! rounded-3xl! bg-surface-950! border! border-surface-950! text-white! hover:bg-surface-950/50!">
                <span pButtonLabel>Continuar</span>
            </button>
        </div>
        <!--<a class="text-white/80 cursor-pointer hover:text-white/90" (click)="forgotPassword()">¿Olvidaste tu Contraseña?</a>-->
    </div>
</div>
<p-toast></p-toast>