<app-spinner [isLoading]="isLoading"></app-spinner>
<p-toast></p-toast>
  <!-- BREADCRUMB -->
 <div class="sticky top-0 z-50 bg-surface-50 dark:bg-surface-950 flex flex-col gap-4">
  <!-- BREADCRUMB -->
  <app-breadcrub></app-breadcrub>

  <!-- ENCABEZADO -->
  <div class="bg-surface-50 dark:bg-surface-950 border border-surface rounded-2xl p-4">
    <div class="flex items-start flex-col md:flex-row justify-between">
      <div>
        <label class="font-bold text-2xl text-surface-900 dark:text-surface-0 mb-4 md:mb-0">
          Crear Promoción
        </label>

        <div class="flex items-center text-surface-700 dark:text-surface-300 flex-wrap gap-8">
          <div class="flex items-center gap-2">
            <i class="pi pi-users text-base! leading-normal!"></i>
            <span>Iniciar una promoción</span>
          </div>
        </div>
      </div>

      <!-- Botones -->
      <div class="flex flex-wrap items-center gap-3">

        @if(fechaHora == null){
          @if(tienePermisoGuardar()){
            <p-button
              (onClick)="guardarPromocion(myForm)"
              styleClass="w-full">
              Guardar
            </p-button>
          }
        }

        @if(!hayCambiosSinGuardar && listaDocumentos().length >= 1){
          @if(fechaHora == null){
            @if(tienePermisoEnviarGenerales()){
              <p-button
                (onClick)="enviarPromocionGenerales(idExhortoEnviado)"
                styleClass="w-full">
                Enviar generales
              </p-button>
            }
          }

          @if(tienePermisoEnviarArchvios()){
            @if(fechaRecepcion == null && fechaHora != null){
              <p-button
                (onClick)="enviarPromocionArchivos(idPromocionEnviado,idExhortoEnviado)"
                icon="pi pi-send"
                styleClass="w-full">
                Enviar archivos
              </p-button>
            }
          }
        }

      </div>
    </div>
  </div>
</div>

<div class="bg-surface-50 dark:bg-surface-950 border border-surface rounded-2xl p-4 mt-4">
    <!-- Información de exhorto -->
    <div class="border-b border-surface mb-4 pb-2">
        <h3 class="text-xl font-bold text-surface-900 dark:text-surface-0">Información del Exhorto</h3>
    </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
        <!-- Columna 1 -->
        <div class="flex flex-col">
          <div>
            <p class=" text-gray-500">ExhortoOrigenId</p>
            <p>{{ detallesExhortos()?.generales?.idExhortoEnviado }}</p>
          </div>

          <div>
            <p class=" text-gray-500">Estado</p>
            <p>{{ detallesExhortos()?.generales?.estadoDestino }}</p>
          </div>

          <div>
            <p class=" text-gray-500">Juez Exhortante</p>
            <p class="font-semibold">
              {{ detallesExhortos()?.generales?.juezExhortante }}
            </p>
          </div>

          <div>
            <p class=" text-gray-500">Fecha de Envío</p>
            <p>{{ detallesExhortos()?.generales?.fechaHora }}</p>
          </div>

          <div>
            <p class=" text-gray-500">Término (Días)</p>
            <p>{{ detallesExhortos()?.generales?.diasResponder }}</p>
          </div>

        </div>

        <!-- Columna 2 -->
        <div class="flex flex-col">

          <div>
            <p class=" text-gray-500">Num Exhorto</p>
            <p class="text-red-500 font-bold">
              {{ detallesExhortos()?.generales?.numeroExhorto }}
            </p>
          </div>

          <div>
            <p class=" text-gray-500">Municipio</p>
            <p>{{ detallesExhortos()?.generales?.municipioOrigen }}</p>
          </div>

          <div>
            <p class=" text-gray-500">Tipo de Juicio</p>
            <p>{{ detallesExhortos()?.generales?.tipoJuicioAsuntoDelitos }}</p>
          </div>

          <div>
            <p class=" text-gray-500">Expediente</p>
            <p class="font-semibold">
              {{ detallesExhortos()?.generales?.numeroExpedienteOrigen }}
            </p>
          </div>

          <div>
            <p class=" text-gray-500">Fojas</p>
            <p>{{ detallesExhortos()?.generales?.fojas }}</p>
          </div>

        </div>

        <!-- Columna 3 -->
        <div class="flex flex-col">

          <div>
            <p class=" text-gray-500">Juzgado</p>
            <p>{{ detallesExhortos()?.generales?.juzgadoOrigenNombre }}</p>
          </div>

          <div>
            <p class=" text-gray-500">Diligencia</p>
            <p>{{ detallesExhortos()?.generales?.tipoDiligenciacionNombre }}</p>
          </div>

          <div>
            <p class=" text-gray-500">Oficio</p>
            <p>{{ detallesExhortos()?.generales?.numeroOficioOrigen }}</p>
          </div>

          <div>
            <p class=" text-gray-500">Estatus</p>
            <span class="inline-flex items-center px-3 py-1 rounded-md bg-green-400 text-black font-bold text-xs">
              <i class="pi pi-send mr-1"></i>
              {{ detallesExhortos()?.generales?.estatus }}
            </span>
          </div>

        </div>

      </div>

      <!-- Observaciones -->
      <div class="mt-4 text-sm">
        <p class=" text-gray-500">Observaciones</p>
        <p class="italic font-semibold">
          {{ detallesExhortos()?.generales?.observaciones }}
        </p>
      </div>

    

  

</div>

<div class="bg-surface-50 dark:bg-surface-950 border border-surface rounded-2xl p-4 mt-4">       
    <form #myForm="ngForm" class="grid grid-cols-12 gap-4 w-full items-end" >

                <!-- Número de fojas -->
                <div class="col-span-12 sm:col-span-3">
                    <label class="block mb-2 text-sm font-medium">Número de fojas*</label>
                    <p-inputNumber 
                            inputId="fojas" 
                            name="fojas"
                            [(ngModel)]="fojas" 
                            [showButtons]="true" 
                            mode="decimal" [min]="0"
                            [max]="5000" 
                            [useGrouping]="false" 
                            class="w-full" fluid 
                            (ngModelChange)="marcarCambios()">
                        </p-inputNumber>
                </div>
                <!-- Observaciones -->
                <div class="col-span-12">
                    <label class="block mb-2 text-sm font-medium">Observaciones</label>
                        <textarea id="observaciones"  
                                [(ngModel)]="observaciones"
                                name="observaciones" 
                                rows="4" 
                                pInputTextarea 
                                class="w-full"
                                (ngModelChange)="marcarCambios()" 
                                maxlength="1000">
                        </textarea>
                </div>                
    </form>
</div>
<!--LISTA PROMOVENTES-->
<div class="relative z-0 mt-4 bg-surface-50 dark:bg-surface-950 border border-surface rounded-2xl mb-4 p-4">
  <div class="flex items-start flex-col md:justify-between md:flex-row">
    <div class="font-bold text-2xl text-surface-900 dark:text-surface-0 mb-4">Promoventes</div>

    <div class="flex items-center">

      <!-- <p-button routerLink="/form" [outlined]="true" class="mr-3">
                <i pButtonIcon class="pi pi-user-plus"></i>
                <span pButtonLabel>Agregar</span>
            </p-button> -->
      <p-button class="whitespace-nowrap" (onClick)="openNewPromovente()">
        <i pButtonIcon class="pi pi-plus"></i>
        <span pButtonLabel>Agregar Promovente </span>
      </p-button>
    </div>
  </div>

  <div class="w-full">
    <div class="grid grid-cols-6 gap-4 w-full items-end">
      @if (provomenteExhortoEnviado.length > 0) {
      <div class="col-span-6 sm:col-span-6 ">

        <p-table [value]="provomenteExhortoEnviado" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template #header>
            <tr class="uppercase text-xs">
              <th>Nombre</th>
              <th>Apellido paterno</th>
              <th>Apellido materno</th>
              <th>Género</th>
              <th>Tipo persona</th>
              <th>Tipo parte</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <!--@if(idEstatus == 1) {
              <th>Acciones</th>
            }-->
            </tr>
          </ng-template>
          <ng-template #body let-promo let-i="index">
            <tr>
              <td style="font-size: small;">
                {{ promo.nombre }}
              </td>
              <td style="font-size: small;">
                {{ promo.apellidoPaterno }}
              </td>
              <td style="font-size: small;">
                {{ promo.apellidoMaterno }}
              </td>
              <td style="font-size: small;">
                {{ promo.genero }}
              </td>
              <td style="font-size: small;">
                {{ promo.esPersonaMoral ? "Moral" : "Física" }}
              </td>
              <td style="font-size: small;">
                {{ promo.tipoParteNombre }}
              </td>
              <td style="font-size: small;">
                {{ promo.correoElectronico }}
              </td>
              <td style="font-size: small;">
                {{ promo.telefono }}
              </td>
              <!--@if(idEstatus <= 1) {
              <td class="px-6 py-3">
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                  (click)="eliminarParte(promo)"></p-button>
              </td>
              }-->
            </tr>
          </ng-template>
        </p-table>


      </div>
      }

      <!-- <div class="col-span-6 sm:col-span-1 flex justify-end">
                <p-button routerLink="/form">
                    <i pButtonIcon class="pi pi-user-plus"></i>
                    <span pButtonLabel>Agregar</span>
                </p-button>
            </div> -->
    </div>

  </div>
</div>    
@if(idPromocionEnviado !== 0)
{
  @if(tienePermisoCargarArchivo()){
      <div class="relative z-0 mt-4 bg-surface-50 dark:bg-surface-950 border border-surface rounded-2xl mb-4 p-4">
        <div class="flex items-start flex-col md:justify-between md:flex-row">
            <div class="font-bold text-2xl text-surface-900 dark:text-surface-0 mb-4">Agregar documentos</div>

            <div class="flex items-center">
              @if (tienePermisoFirmarArchivo() && seleccionadosParaFirma()) {
                  <div class="relative" style="margin-right: 1rem;">
                    <p-button 
                      (click)="openNewFirma()"
                      severity="warn"
                      icon="pi pi-pen-to-square"
                      label="Firmar con FIREL">
                    </p-button>
                  </div>
                }
                <p-fileupload mode="basic" name="demo[]" [multiple]="true" chooseIcon="pi pi-upload"
                    accept="application/pdf"  (onSelect)="onAnexosSelect($event)" [auto]="true"
                    chooseLabel="Agregar documento" />

                <!-- <p-button routerLink="/form" [outlined]="true" class="mr-3">
                    <i pButtonIcon class="pi pi-user-plus"></i>
                    <span pButtonLabel>Agregar</span>
                </p-button>
                <p-button class="whitespace-nowrap">
                    <i pButtonIcon class="pi pi-check"></i>
                    <span pButtonLabel>Guardar </span>
                </p-button> -->
              
            </div>
        </div>

        <div class="w-full">
            <div class="grid grid-cols-6 gap-4 w-full items-end">
                @if (listaDocumentos().length > 0) {
                <div class="col-span-6 sm:col-span-6 ">

                    <p-table [value]="listaDocumentos()" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template #header>
                            <tr class="uppercase text-xs">
                                <th>para firmar</th>
                                <th>Documento</th>
                                <th>Tipo documento</th>
                                <th>¿Firma aplicado?</th>
                                <th>Fecha firmado</th>
                                <th>Firmantes</th>
                                <th>Peso</th>
                                <th style="min-width: 10rem">Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-documento let-i="rowIndex">
                            <tr>
                                <td>@if(!documento.firmado && documento.idArchivo !==0 && !documento.usrYaFirmo){
                                  <input  (change)="archivo_seleccionado(documento)"
                                          [id]="documento.selecParaFirma"
                                          type="checkbox" [checked]="documento.selecParaFirma" [value]="documento.selecParaFirma"/>
                                }
                                </td>
                                <td style="font-size: small;">{{ documento.nombreArchivo }}</td>
                                <td style="font-size: small;">
                                  @if(documento.idArchivo === 0){
                                    <form [formGroup]="doctosForm">
                                      <p-select id="tipoDocumento" inputId="tipoDocumento-dropdown"
                                        formControlName="tipoDocumento"
                                        [options]="listadoTipoDocumento"
                                        optionLabel="nombre"
                                        placeholder="seleccione" 
                                        appendTo="body"
                                        filterPlaceholder="Buscar tipo..."
                                        class="w-full md:w-56"
                                        fluid>
                                      </p-select>
                                    </form>
                                  }
                                  @else{
                                    <span>
                                      {{ documento.tipoDocumento.nombre }}
                                    </span>
                                  }
                                </td>
                                <td style="font-size: small;">{{ documento.firmado ? 'Sí' : 'No' }}</td>
                                <td style="font-size: small;">{{ documento.fechaFirmado | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>
                                  <table>
                                      @for (firmante of documento.firmantes; track firmante) {
                                        <tr>
                                          @if(firmante != undefined)
                                            {
                                            <td class="underline" style="font-size:0.75rem ;">{{firmante.nombre}}</td>
                                            @if(!documento.firmado){
                                              <td class="px-4">
                                                <!--<a href="#" class="font-medium text-red-500 dark:text-red-500 hover:underline">Eliminar</a>-->
                                                <p-button  (click)="eliminarFirma(firmante.idFirmaTmp, documento.idArchivo)" [rounded]="true" icon="pi pi-times" title="Eliminar firma" styleClass="btn-icon-rojo"></p-button>
                                              </td>
                                            }
                                          }
                                        </tr>
                                      }
                                  </table>
                                </td>
                                <td style="font-size: small;">{{ ((documento.tamanio / 1024)/1024) | number:'1.0-2' }} MB</td>
                              
                                <td class="text-center">
                                  @if(documento.idArchivo === 0 && idPromocionEnviado!==0){
                                    <p-button (click)="onUpload(documento.file)" severity="success" [rounded]="true"
                                          icon="pi pi-upload" class="mr-2" title="cargar documento">
                                    </p-button>
                                  }
                                    <!--APLICAR FIRMAS-->
                                  @if(!documento.firmado && documento.firmantes.length>0 ){
                                      <p-button (click)="aplicarFirmas(documento.idArchivo)" severity="success" [rounded]="true"
                                        icon="pi pi-key" class="mr-2" title="Aplicar firmas">
                                      </p-button>
                                                              
                                  }
                                  <!--VER O DESCARGAR DOCUMENTO-->
                                  <p-button (click)="getFile(documento,4)" severity="success" [rounded]="true"
                                                            icon="pi pi-file-pdf" class="mr-2" title="Descargar PDF"></p-button>

                                  <!--ELIMINAR DOCUMENTO-->
                                  @if((idEstatus == 1 || idEstatus==0) && fechaHora == null ){ <!--//Pendiente de enviar-->
                                    @if(tienePermisoEliminarArchivo()){
                                      <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                                      (click)="eliminarDocumento(documento,i)" ></p-button>
                                      
                                    }
                                  }

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <!-- @if(mostrarDocumento()){
                      <app-pdf-dialog [header]="nombre" [url]="documentoUrl" [(visible)]="mostrarDocumento">
                      </app-pdf-dialog>
                    } -->
                </div>
                }
                
            </div>
            <div>
            </div>
        </div>
    </div>
  }
}

<!--* MODAL DE CONFIRMACION GUADAR PROMOCION -->
<app-confirm-dialog key="guardarPromocion" title="Confirmación" message="¿Está seguro de guardar la promoción?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>
<!--* MODAL DE CONFIRMACION PARA ENVIAR GENERALES DE LA PROMOCION -->
<app-confirm-dialog key="enviarGeneralesPromocion" title="Confirmación" message="¿Está seguro de enviar los generales de la promoción?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>
<!--* MODAL DE CONFIRMACION PARA ENVIAR GENERALES DE LA PROMOCION -->
<app-confirm-dialog key="enviarArchivosPromocion" title="Confirmación" message="¿Está seguro de enviar los archivos de la promoción?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>
<!--* MODAL DE CONFIRMACION PARA AGREGAR PROMOVENTES -->
<app-confirm-dialog key="agregarPromovente" title="Confirmación" message="¿Está seguro de agregar los promoventes?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>
<!--MODAL PARA CONFIRMACION DE APLICAR FIRMAS-->
<app-confirm-dialog key="aplicarFirmas" title="Confirmación" message="¿Está seguro que desea aplicar las firmas en el archivo?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>
<!--MODAL PARA CONFIRMAR LA ELIMINACION DE ARCHIVO-->
<app-confirm-dialog key="eliminarArchivo" title="Confirmación" message="¿Está seguro de eliminar el documento?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>


<!--*DIALOG PARA AGREGAR PROMOVENTES-->
<p-dialog [(visible)]="promoDialog" [style]="{ width: '600px' }" header="Agregra promovente" [modal]="true">
  <form [formGroup]="promoventesForm">
    <div class="grid grid-cols-6 gap-4 w-full items-end">

      <!-- Nombre del promovente -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Nombre del promovente*</label>
        <input id="nombre" name="nombre" pInputText type="text" formControlName="nombre" class="w-full" maxlength="200" />
      </div>

      <!-- ¿Es persona moral? -->
      <div class="col-span-6 sm:col-span-3 w-full flex items-center justify-center gap-2 h-full">
        <div class="flex items-center justify-center w-full h-full">
          <p-checkbox inputId="moral" name="moral" binary="true" formControlName="moral"></p-checkbox>
          <label for="moral" class="ml-2 text-sm font-medium mb-0">¿Es persona moral?</label>
        </div>
      </div>

      <!-- Apellido paterno -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Apellido paterno</label>
        <input id="paterno" name="paterno" pInputText type="text" formControlName="paterno" class="w-full" maxlength="50" />
      </div>

      <!-- Apellido materno -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Apellido materno</label>
        <input id="materno" name="materno" pInputText type="text" formControlName="materno" class="w-full" maxlength="50" />
      </div>

      <!-- Género -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Género</label>
        <p-select id="genero" name="genero" [options]="listaGenero()" formControlName="genero" optionLabel="descripcion"
          appendTo="body" inputId="genero-dropdown" class="w-full" fluid></p-select>
      </div>

      <!-- Tipo de parte -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Tipo de parte*</label>
        <p-select id="tipoParte" name="tipoParte" [options]="listaTipoParte()" formControlName="tipoParte"
          optionLabel="descripcion" appendTo="body" inputId="tipoParte-dropdown" class="w-full" fluid></p-select>
      </div>

      <!-- Correo electrónico -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Correo electrónico</label>
        <input id="correo" name="correo" pInputText type="text" formControlName="correo"
          class="w-full" maxlength="50" />
      </div>

      <!-- Teléfono -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Teléfono</label>
        <input id="telefono" pInputText type="text" formControlName="telefono" class="w-full" maxlength="10"
          (onBlur)="validarTelefonoPromo()" placeholder="9999999999"/>
           <div *ngIf="promoventesForm.get('telefono')?.hasError('pattern')" class="error-text">
            Debe capturar exactamente 10 dígitos
          </div>
      </div>
    </div>
  </form>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialogPromovente()" />
    <p-button label="Agregar" icon="pi pi-check" (click)="AgregarPromovente()" />
  </ng-template>
</p-dialog>
<!--*DIALOG PARA FIRMAR-->
<p-dialog [(visible)]="firmaDialog" [style]="{ width: '600px' }" header="Firmado de documento" [modal]="true">
  <form [formGroup]="formularioFirma">
    <div class="grid grid-cols-6 gap-4 w-full items-end">

      <!-- Nombre del promovente -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Contraseña de su firma*</label>
        <input id="password" name="password" pInputText [type]="showPassword ? 'text' : 'password'" formControlName="password" class="w-full" maxlength="20" />
        <p-inputicon class="cursor-pointer text-white/70! hover:text-white!" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"></i>
        </p-inputicon>
      </div>
    </div>
  </form>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialogFirma()" />
    <p-button label="Firmar" icon="pi pi-check" (click)="iniciarFirmaDocumentos()" />
  </ng-template>
</p-dialog>
<p-confirmdialog [style]="{ width: '600px' }" />
