<p-toast></p-toast>

<div class="bg-surface-50 dark:bg-surface-900 border border-surface rounded-2xl p-4 sticky-header">
    <!-- Start coding here -->
        <div class="flex items-start flex-col md:justify-between md:flex-row">
            <div>
                <p class="mr-3 text-3xl font-semibold dark:text-white">Promover exhorto</p>
                <p class="text-gray-500 dark:text-gray-400">Promover exhortos</p>
            </div>
            <div class="flex items-center">
                @if(fechaHora == null){
                    @if(tienePermisoGuardar()){
                      <div class="relative">
                        <p-button (onClick)="guardarPromocion(myForm)" icon="">
                            Guardar
                        </p-button>
                      </div>
                }
                @if(!hayCambiosSinGuardar){

                    @if(fechaHora == null){
                        @if(tienePermisoEnviarGenerales()){
                            <!--si el estatus de la promocion es diferente a: 3=Promoción enviada, 4=Finalizado puede seguir editando la promocion-->
                            <div class="relative">
                              <p-button (onClick)="enviarPromocionGenerales(idExhortoEnviado)" icon="">
                                  Enviar
                              </p-button>
                            </div>
                        }
                        
                    }   
                    @if(tienePermisoEnviarArchvios()){
                        @if(fechaRecepcion == null && fechaHora != null){
                            <p-button  (onClick)="enviarPromocionArchivos(idPromocionEnviado,idExhortoEnviado)"
                                icon="pi pi-send"> Enviar archivos
                            </p-button>
                        }
                    }
                }
            }
            </div>
    </div>
</div>

<div class="bg-surface-50 dark:bg-surface-900 border border-surface rounded-2xl p-4 mt-4">       
    <form #myForm="ngForm" class="grid grid-cols-12 gap-4 w-full items-end" >

                <!-- Número de fojas -->
                <div class="col-span-12 sm:col-span-3">
                    <label class="block mb-2 text-sm font-medium">Número de fojas*</label>
                    <p-inputNumber 
                            inputId="fojas" 
                            name="fojas"
                            [(ngModel)]="fojas" 
                            [showButtons]="true" 
                            mode="decimal" [min]="0"
                            [max]="5000" 
                            [useGrouping]="false" 
                            class="w-full" fluid 
                            (ngModelChange)="marcarCambios()">
                        </p-inputNumber>
                </div>
                <!-- Observaciones -->
                <div class="col-span-12">
                    <label class="block mb-2 text-sm font-medium">Observaciones</label>
                        <textarea id="observaciones"  
                                [(ngModel)]="observaciones"
                                name="observaciones" 
                                rows="4" 
                                pInputTextarea 
                                class="w-full"
                                (ngModelChange)="marcarCambios()" 
                                maxlength="1000">
                        </textarea>
                </div>                
    </form>
</div>
<!--LISTA PROMOVENTES-->
<div class="relative z-0 mt-4 bg-surface-50 dark:bg-surface-900 border border-surface rounded-2xl mb-4 p-4">
  <div class="flex items-start flex-col md:justify-between md:flex-row">
    <div class="font-bold text-2xl text-surface-900 dark:text-surface-0 mb-4">Promoventes</div>

    <div class="flex items-center">

      <!-- <p-button routerLink="/form" [outlined]="true" class="mr-3">
                <i pButtonIcon class="pi pi-user-plus"></i>
                <span pButtonLabel>Agregar</span>
            </p-button> -->
      <p-button class="whitespace-nowrap" (onClick)="openNewPromovente()">
        <i pButtonIcon class="pi pi-plus"></i>
        <span pButtonLabel>Agregar Promovente </span>
      </p-button>
    </div>
  </div>

  <div class="w-full">
    <div class="grid grid-cols-6 gap-4 w-full items-end">
      @if (provomenteExhortoEnviado.length > 0) {
      <div class="col-span-6 sm:col-span-6 ">

        <p-table [value]="provomenteExhortoEnviado" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template #header>
            <tr class="uppercase text-xs">
              <th>Nombre</th>
              <th>Apellido paterno</th>
              <th>Apellido materno</th>
              <th>Género</th>
              <th>Tipo persona</th>
              <th>Tipo parte</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <!--@if(idEstatus == 1) {
              <th>Acciones</th>
            }-->
            </tr>
          </ng-template>
          <ng-template #body let-promo let-i="index">
            <tr>
              <td style="font-size: small;">
                {{ promo.nombre }}
              </td>
              <td style="font-size: small;">
                {{ promo.apellidoPaterno }}
              </td>
              <td style="font-size: small;">
                {{ promo.apellidoMaterno }}
              </td>
              <td style="font-size: small;">
                {{ promo.genero }}
              </td>
              <td style="font-size: small;">
                {{ promo.esPersonaMoral ? "Moral" : "Física" }}
              </td>
              <td style="font-size: small;">
                {{ promo.tipoParteNombre }}
              </td>
              <td style="font-size: small;">
                {{ promo.correoElectronico }}
              </td>
              <td style="font-size: small;">
                {{ promo.telefono }}
              </td>
              <!--@if(idEstatus <= 1) {
              <td class="px-6 py-3">
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                  (click)="eliminarParte(promo)"></p-button>
              </td>
              }-->
            </tr>
          </ng-template>
        </p-table>


      </div>
      }

      <!-- <div class="col-span-6 sm:col-span-1 flex justify-end">
                <p-button routerLink="/form">
                    <i pButtonIcon class="pi pi-user-plus"></i>
                    <span pButtonLabel>Agregar</span>
                </p-button>
            </div> -->
    </div>

  </div>
</div>    
@if(idPromocionEnviado !== 0)
{
  @if(tienePermisoCargarArchivo()){
      <div class="relative z-0 mt-4 bg-surface-50 dark:bg-surface-900 border border-surface rounded-2xl mb-4 p-4">
        <div class="flex items-start flex-col md:justify-between md:flex-row">
            <div class="font-bold text-2xl text-surface-900 dark:text-surface-0 mb-4">Agregar documentos</div>

            <div class="flex items-center">
              @if (tienePermisoFirmarArchivo() && seleccionadosParaFirma()) {
                  <div class="relative" style="margin-right: 1rem;">
                    <p-button 
                      (click)="openNewFirma()"
                      severity="warn"
                      icon="pi pi-pen-to-square"
                      label="Firmar con FIREL">
                    </p-button>
                  </div>
                }
                <p-fileupload mode="basic" name="demo[]" [multiple]="true" chooseIcon="pi pi-upload"
                    accept="application/pdf" maxFileSize="1000000" (onSelect)="onAnexosSelect($event)" [auto]="true"
                    chooseLabel="Agregar documento" />

                <!-- <p-button routerLink="/form" [outlined]="true" class="mr-3">
                    <i pButtonIcon class="pi pi-user-plus"></i>
                    <span pButtonLabel>Agregar</span>
                </p-button>
                <p-button class="whitespace-nowrap">
                    <i pButtonIcon class="pi pi-check"></i>
                    <span pButtonLabel>Guardar </span>
                </p-button> -->
              
            </div>
        </div>

        <div class="w-full">
            <div class="grid grid-cols-6 gap-4 w-full items-end">
                @if (listaDocumentos().length > 0) {
                <div class="col-span-6 sm:col-span-6 ">

                    <p-table [value]="listaDocumentos()" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template #header>
                            <tr class="uppercase text-xs">
                                <th>para firmar</th>
                                <th>Documento</th>
                                <th>Tipo documento</th>
                                <th>¿Firma aplicado?</th>
                                <th>Fecha firmado</th>
                                <th>Firmantes</th>
                                <th>Peso</th>
                                <th style="min-width: 10rem">Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-documento let-i="rowIndex">
                            <tr>
                                <td>@if(!documento.firmado && documento.idArchivo !==0 && !documento.usrYaFirmo){
                                  <input  (change)="archivo_seleccionado(documento)"
                                          [id]="documento.selecParaFirma"
                                          type="checkbox" [checked]="documento.selecParaFirma" [value]="documento.selecParaFirma"/>
                                }
                                </td>
                                <td style="font-size: small;">{{ documento.nombreArchivo }}</td>
                                <td style="font-size: small;">
                                  @if(documento.idArchivo === 0){
                                    <form [formGroup]="doctosForm">
                                      <p-select id="tipoDocumento" inputId="tipoDocumento-dropdown"
                                        formControlName="tipoDocumento"
                                        [options]="listadoTipoDocumento"
                                        optionLabel="nombre"
                                        placeholder="seleccione" 
                                        appendTo="body"
                                        filterPlaceholder="Buscar tipo..."
                                        class="w-full md:w-56"
                                        fluid>
                                      </p-select>
                                    </form>
                                  }
                                  @else{
                                    <span>
                                      {{ documento.tipoDocumento.nombre }}
                                    </span>
                                  }
                                </td>
                                <td style="font-size: small;">{{ documento.firmado ? 'Sí' : 'No' }}</td>
                                <td style="font-size: small;">{{ documento.fechaFirmado | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>
                                  <table>
                                      @for (firmante of documento.firmantes; track firmante) {
                                        <tr>
                                          @if(firmante != undefined)
                                            {
                                            <td class="underline" style="font-size:0.75rem ;">{{firmante.nombre}}</td>
                                            @if(!documento.firmado){
                                              <td class="px-4">
                                                <!--<a href="#" class="font-medium text-red-500 dark:text-red-500 hover:underline">Eliminar</a>-->
                                                <p-button  (click)="eliminarFirma(firmante.idFirmaTmp, documento.idArchivo)" [rounded]="true" icon="pi pi-times" title="Eliminar firma" styleClass="btn-icon-rojo"></p-button>
                                              </td>
                                            }
                                          }
                                        </tr>
                                      }
                                  </table>
                                </td>
                                <td style="font-size: small;">{{ ((documento.tamanio / 1024)/1024) | number:'1.0-2' }} MB</td>
                              
                                <td class="text-center">
                                  @if(documento.idArchivo === 0 && idPromocionEnviado!==0){
                                    <p-button (click)="onUpload(documento.file)" severity="success" [rounded]="true"
                                          icon="pi pi-upload" class="mr-2" title="cargar documento">
                                    </p-button>
                                  }
                                    <!--APLICAR FIRMAS-->
                                  @if(!documento.firmado && documento.firmantes.length>0 ){
                                      <p-button (click)="aplicarFirmas(documento.idArchivo)" severity="success" [rounded]="true"
                                        icon="pi pi-key" class="mr-2" title="Aplicar firmas">
                                      </p-button>
                                                              
                                  }
                                  <!--VER O DESCARGAR DOCUMENTO-->
                                  <p-button (click)="getFile(documento,4)" severity="success" [rounded]="true"
                                                            icon="pi pi-file-pdf" class="mr-2" title="Descargar PDF"></p-button>

                                  <!--ELIMINAR DOCUMENTO-->
                                  @if(idEstatus == 1 || idEstatus==0 ){ <!--//Pendiente de enviar-->
                                    @if(tienePermisoEliminarArchivo()){
                                      <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                                      (click)="eliminarDocumento(documento,i)" ></p-button>
                                      
                                    }
                                  }

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <!-- @if(mostrarDocumento()){
                      <app-pdf-dialog [header]="nombre" [url]="documentoUrl" [(visible)]="mostrarDocumento">
                      </app-pdf-dialog>
                    } -->
                </div>
                }
                
            </div>
            <div>
            </div>
        </div>
    </div>
  }
}

<!--    
<SECTION >
  <div>
    <app-modal #modal>
        <div class="relative p-4 w-full max-w-md max-h-full">
            
            <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
               
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Datos para firmar los documentos
                    </h3>
                </div>
                
                <div class="p-4 md:p-5">
                    <form [formGroup]="formularioFirma"   class="space-y-4">
                        <div class="relative">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                            <input 
                                formControlName="password" 
                                [type]="showPassword ? 'text' : 'password'"
                                name="password" 
                                id="password" 
                                placeholder="••••••••"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" 
                                required />
                                <button
                                    type="button"
                                    (click)="togglePasswordVisibility()"
                                    class="absolute top-3 right-0 h-full px-3 flex items-center text-gray-600 dark:text-gray-300"
                                    style="height: 75px;"
                                    aria-label="Mostrar u ocultar contraseña"
                                    >
                                    <i [ngClass]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'" class="text-lg"></i>

                                </button>
                        </div>
                       

                        @if(tienePermisoFirmarArchivo){
                            <button (click)="iniciarFirmaDocumentos()" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Firmar.</button>
                        }
                        
                    </form>
                </div>
            </div>
        </div>

    </app-modal>

    </div>

  </SECTION>-->
<!--* MODAL DE CONFIRMACION GUADAR PROMOCION -->
<app-confirm-dialog key="guardarPromocion" title="Confirmación" message="¿Está seguro de guardar la promoción?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>
<!--* MODAL DE CONFIRMACION PARA ENVIAR GENERALES DE LA PROMOCION -->
<app-confirm-dialog key="enviarGeneralesPromocion" title="Confirmación" message="¿Está seguro de enviar los generales de la promoción?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>
<!--* MODAL DE CONFIRMACION PARA ENVIAR GENERALES DE LA PROMOCION -->
<app-confirm-dialog key="enviarArchivosPromocion" title="Confirmación" message="¿Está seguro de enviar los archivos de la promoción?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>
<!--* MODAL DE CONFIRMACION PARA AGREGAR PROMOVENTES -->
<app-confirm-dialog key="agregarPromovente" title="Confirmación" message="¿Está seguro de agregar los promoventes?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>
<!--MODAL PARA CONFIRMACION DE APLICAR FIRMAS-->
<app-confirm-dialog key="aplicarFirmas" title="Confirmación" message="¿Está seguro que desea aplicar las firmas en el archivo?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>
<!--MODAL PARA CONFIRMAR LA ELIMINACION DE ARCHIVO-->
<app-confirm-dialog key="eliminarArchivo" title="Confirmación" message="¿Está seguro de eliminar el documento?"
  icon="pi pi-question" circleClass="bg-primary" acceptLabel="Aceptar" acceptStyleClass="bg-primary">
</app-confirm-dialog>


<!--*DIALOG PARA AGREGAR PROMOVENTES-->
<p-dialog [(visible)]="promoDialog" [style]="{ width: '600px' }" header="Agregra promovente" [modal]="true">
  <form [formGroup]="promoventesForm">
    <div class="grid grid-cols-6 gap-4 w-full items-end">

      <!-- Nombre del promovente -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Nombre del promovente*</label>
        <input id="nombre" name="nombre" pInputText type="text" formControlName="nombre" class="w-full" maxlength="200" />
      </div>

      <!-- ¿Es persona moral? -->
      <div class="col-span-6 sm:col-span-3 w-full flex items-center justify-center gap-2 h-full">
        <div class="flex items-center justify-center w-full h-full">
          <p-checkbox inputId="moral" name="moral" binary="true" formControlName="moral"></p-checkbox>
          <label for="moral" class="ml-2 text-sm font-medium mb-0">¿Es persona moral?</label>
        </div>
      </div>

      <!-- Apellido paterno -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Apellido paterno</label>
        <input id="paterno" name="paterno" pInputText type="text" formControlName="paterno" class="w-full" maxlength="50" />
      </div>

      <!-- Apellido materno -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Apellido materno</label>
        <input id="materno" name="materno" pInputText type="text" formControlName="materno" class="w-full" maxlength="50" />
      </div>

      <!-- Género -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Género</label>
        <p-select id="genero" name="genero" [options]="listaGenero()" formControlName="genero" optionLabel="descripcion"
          appendTo="body" inputId="genero-dropdown" class="w-full" fluid></p-select>
      </div>

      <!-- Tipo de parte -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Tipo de parte*</label>
        <p-select id="tipoParte" name="tipoParte" [options]="listaTipoParte()" formControlName="tipoParte"
          optionLabel="descripcion" appendTo="body" inputId="tipoParte-dropdown" class="w-full" fluid></p-select>
      </div>

      <!-- Correo electrónico -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Correo electrónico</label>
        <input id="correo" name="correo" pInputText type="text" formControlName="correo"
          class="w-full" maxlength="50" />
      </div>

      <!-- Teléfono -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Teléfono</label>
        <p-inputmask id="telefono" name="telefono" mask="(999) 999-9999" [unmask]="true" formControlName="telefono" class="w-full"
          placeholder="(999) 999-9999"></p-inputmask>
      </div>
    </div>
  </form>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialogPromovente()" />
    <p-button label="Agregar" icon="pi pi-check" (click)="AgregarPromovente()" />
  </ng-template>
</p-dialog>
<!--*DIALOG PARA FIRMAR-->
<p-dialog [(visible)]="firmaDialog" [style]="{ width: '600px' }" header="Firmado de documento" [modal]="true">
  <form [formGroup]="formularioFirma">
    <div class="grid grid-cols-6 gap-4 w-full items-end">

      <!-- Nombre del promovente -->
      <div class="col-span-6 sm:col-span-3 w-full">
        <label class="block mb-2 text-sm font-medium">Contraseña de su firma*</label>
        <input id="password" name="password" pInputText [type]="showPassword ? 'text' : 'password'" formControlName="password" class="w-full" maxlength="20" />
        <p-inputicon class="cursor-pointer text-white/70! hover:text-white!" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"></i>
        </p-inputicon>
      </div>
    </div>
  </form>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialogFirma()" />
    <p-button label="Firmar" icon="pi pi-check" (click)="iniciarFirmaDocumentos()" />
  </ng-template>
</p-dialog>
<p-confirmdialog [style]="{ width: '600px' }" />
