<app-spinner [isLoading]="isLoading" message="" />
<p-toast></p-toast>

<div class="lg:sticky top-0 z-50 flex flex-col gap-4">

    <!-- HEADER -->
    <app-breadcrub></app-breadcrub>

    <!-- DETALLE -->
    <div class="bg-surface-50 dark:bg-surface-900 border border-surface rounded-2xl">

        <div class="flex items-start flex-col md:flex-row justify-between">
            <label class="font-medium text-2xl text-surface-900 dark:text-surface-0 mb-4 md:mb-0 p-4">
                Audiencia # {{detalleAudiencia?.expediente?.NumExpediente}}
            </label>

            <!-- BOTONES -->
            <div class="flex flex-wrap gap-2 p-4">

                <!-- Reprogramar -->
                <p-button *ngIf="detalleAudiencia && 
                           detalleAudiencia.ultimo_estado.idCatalogoEstadoAudiencia !== 4 && 
                           detalleAudiencia.ultimo_estado.idCatalogoEstadoAudiencia !== 2 && 
                           !isEnProgreso(detalleAudiencia.start, detalleAudiencia.end) && 
                           mostrarBoton()" label="Reprogramar" icon="pi pi-calendar-clock"
                    (onClick)="reprogramarAudiencia()"
                    styleClass="bg-[#ff830a] border-[#ff830a] hover:bg-[#ff830a]/80 hover:border-[#ff830a]/80 whitespace-nowrap" />

                <!-- Cancelar -->
                <p-button *ngIf="detalleAudiencia && 
                           (isEnProgreso(detalleAudiencia.start, detalleAudiencia.end) || 
                           (detalleAudiencia.ultimo_estado.idCatalogoEstadoAudiencia !== 2 && 
                            detalleAudiencia.ultimo_estado.idCatalogoEstadoAudiencia !== 4)) && 
                           mostrarBoton()" label="Cancelar" icon="pi pi-bell" (onClick)="showModalAnexo()"
                    styleClass="bg-red-600 border-red-600 hover:bg-red-600/80 hover:border-red-600/80 whitespace-nowrap" />

                <!-- Solicitar grabación -->
                <p-button
                    *ngIf="detalleAudiencia && !isArrayAndNotEmpty(detalleAudiencia.grabaciones) && !mostrarBoton()"
                    label="Solicitar grabación" icon="pi pi-file-video" (onClick)="showModalReqGrabacion()"
                    styleClass="bg-[#937ed6] border-[#937ed6] hover:bg-[#937ed6]/80 hover:border-[#937ed6]/80 whitespace-nowrap" />
            </div>
        </div>

        <!-- Sección: Datos generales -->
        <div
            class="flex items-center justify-between w-full p-4 bg-surface-200 dark:bg-surface-800 font-medium text-surface-600 dark:text-surface-0 transition delay-100 duration-200 ease-in-out hover:-translate-y-1 hover:scale-[1.01]">
            <span class="flex items-center">
                <svg class="w-5 h-5 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z"
                        clip-rule="evenodd" />
                </svg>
                Datos generales
            </span>
        </div>

        <div class="p-5 w-full">
            @if (detalleAudiencia) {
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">

                <!-- Columna Izquierda -->
                <div class="flex flex-col space-y-2">
                    <p class="text-surface-600 dark:text-surface-200"><b>Titulo: </b>
                        {{detalleAudiencia.title}}
                    </p>
                    <p class="text-surface-600 dark:text-surface-200"><b>Fecha:</b>
                        {{ detalleAudiencia.start | date:'EEEE, d \'de\' MMMM \'de\' y' | uppercase }}
                    </p>
                    <p class="text-surface-600 dark:text-surface-200"><b>Hora:</b>
                        {{detalleAudiencia.start | date:'HH:mm' }} - {{ detalleAudiencia.end | date:'HH:mm' }} H
                    </p>
                    <p class="text-surface-600 dark:text-surface-200"><b>Observaciones:</b>
                        {{ detalleAudiencia.ultimo_estado.observaciones | uppercase }}
                    </p>


                </div>

                <!-- Columna Derecha -->
                <div class="flex flex-col space-y-2">
                    <p class="text-surface-600 dark:text-surface-200"><b>Estado:</b>
                        @if (isEnProgreso(detalleAudiencia.start, detalleAudiencia.end)) {
                        <span class="ml-2 bg-yellow-100 text-yellow-800 text-xs font-medium px-2.5 py-0.5 rounded-md">
                            EN PROGRESO
                        </span>
                        } @else {
                        @switch (+detalleAudiencia.ultimo_estado.idCatalogoEstadoAudiencia) {
                        @case (1) {
                        <span
                            class="ml-2 bg-green-100 text-green-800 text-xs font-medium uppercase px-2.5 py-0.5 rounded-md dark:bg-surface-800 dark:text-green-400 border border-green-500">
                            {{ detalleAudiencia.ultimo_estado.descripcion | uppercase }}
                        </span>
                        }
                        @case (2) {
                        <span
                            class="ml-2 bg-purple-100 text-purple-800 text-xs font-medium uppercase px-2.5 py-0.5 rounded-md dark:bg-surface-800 dark:text-purple-400 border border-purple-500">
                            {{ detalleAudiencia.ultimo_estado.descripcion | uppercase }}
                        </span>
                        }
                        @case (3) {
                        <span
                            class="ml-2 bg-orange-100 text-orange-800 text-xs font-medium uppercase px-2.5 py-0.5 rounded-md dark:bg-surface-800 dark:text-orange-300 border border-orange-300">
                            {{ detalleAudiencia.ultimo_estado.descripcion }}
                        </span>
                        }
                        @case (4) {
                        <span
                            class="ml-2 bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-md border border-orange-100 dark:bg-gray-700 dark:border-orange-300 dark:text-orange-300">
                            {{ detalleAudiencia.ultimo_estado.descripcion }}
                        </span>
                        }
                        @default {
                        <span
                            class="ml-2 bg-purple-100 text-purple-800 text-xs font-medium uppercase px-2.5 py-0.5 rounded-md dark:bg-surface-800 dark:text-purple-400 border border-purple-500">
                            {{ detalleAudiencia.ultimo_estado.descripcion | uppercase }}
                        </span>
                        }
                        }
                        }
                    </p>

                    @if (+detalleAudiencia.ultimo_estado.idCatalogoEstadoAudiencia !== 4) {
                    <p class="text-gray-700 dark:text-gray-300"><b>Número de la reunión: </b>
                        {{detalleAudiencia.meetingNumber}}
                    </p>
                    <p class="text-gray-700 dark:text-gray-300" *ngIf="detalleAudiencia.password">
                        <b>Contraseña:</b> {{detalleAudiencia.password}}
                    </p>
                    <p class="text-gray-700 dark:text-gray-300 break-all">
                        <b>Enlace:</b>
                        <a [href]="detalleAudiencia.webLink" target="_blank" rel="noopener noreferrer"
                            class="text-gray-700 hover:text-blue-500 dark:text-blue-500 hover:underline">
                            {{detalleAudiencia.webLink}}
                        </a>
                    </p>
                    }
                    <!-- Acuse (solo estado 4) -->
                    @if (+detalleAudiencia.ultimo_estado.idCatalogoEstadoAudiencia === 4) {
                    <div
                        class="mt-2 flex flex-col gap-2 bg-surface-100 dark:bg-surface-800 border border-surface rounded-xl p-4">
                        <span
                            class="flex items-center gap-2 text-sm font-semibold text-surface-700 dark:text-surface-100">
                            <i class="pi pi-file text-blue-500"></i>
                            Acuse de cancelación
                        </span>
                        <p-button label="Ver documento" icon="pi pi-eye" size="small"
                            (onClick)="openModal(detalleAudiencia.ultimo_estado.idDocumento!)" styleClass="w-full" />
                    </div>
                    }
                </div>

            </div>
            }
        </div>


        <div
            class="flex items-center justify-between w-full p-4 bg-surface-200 dark:bg-surface-800 font-medium text-surface-600 dark:text-surface-0 transition delay-100 duration-200 ease-in-out hover:-translate-y-1 hover:scale-[1.01]">
            <span class="flex items-center">
                <svg class="w-5 h-5 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z"
                        clip-rule="evenodd" />
                </svg>
                Invitados
            </span>
        </div>

        <div class="p-3">
            <p-table [value]="detalleAudiencia?.invitados ?? []" [tableStyle]="{ 'min-width': '60rem' }">
                <ng-template #header>
                    <tr>
                        <th>Nombre</th>
                        <th>Estatus</th>
                        <th>Correo</th>
                        <th>Tipo parte</th>
                    </tr>
                </ng-template>
                <ng-template #body let-invitado>
                    <tr>
                        <td class="font-semibold">{{ invitado.nombre }}</td>
                        <td>
                            @if (invitado.idUsr) {
                            <p-tag severity="success" value="VERIFICADO" />
                            } @else {
                            <p-tag severity="danger" value="NO VERIFICADO" />
                            }
                        </td>
                        <td>
                            <div>{{ invitado.correo }}</div>
                            <div class="text-xs text-surface-500">{{ invitado.correoAlterno }}</div>
                        </td>
                        <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">

                            @if (invitado.tipoParteDescripcion) {
                            {{ invitado.tipoParteDescripcion }}
                            } @else {
                            <span class="italic text-gray-400">
                                ABOGADO
                            </span>
                            }

                        </td>

                    </tr>
                </ng-template>
                <ng-template #emptymessage>
                    <tr>
                        <td colspan="6" class="text-center p-4">No hay partes registradas.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


        @if (isArrayAndNotEmpty(detalleAudiencia?.grabaciones)) {
        <div
            class="flex items-center justify-between w-full p-4 bg-surface-200 dark:bg-surface-800 font-medium text-surface-600 dark:text-surface-0 transition delay-100 duration-200 ease-in-out hover:-translate-y-1 hover:scale-[1.01]">
            <span class="flex items-center">
                <svg class="w-5 h-5 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z"
                        clip-rule="evenodd" />
                </svg>
                Grabaciones
            </span>
        </div>

        <div class="p-3">
            <p-table [value]="detalleAudiencia?.grabaciones ?? []" [tableStyle]="{ 'min-width': '60rem' }">
                <ng-template #header>
                    <tr>
                        <th>Titulo</th>
                        <th>Duración (segundos)</th>
                        <th>Contraseña</th>
                        <th>Video</th>
                    </tr>
                </ng-template>
                <ng-template #body let-grabacion let-i="rowIndex">
                    <tr>
                        <td class="font-semibold">{{ grabacion.topic}}</td>
                        <td class="font-semibold">{{ grabacion.durationSeconds}}</td>
                        <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap dark:text-white">
                            @if (grabacion.password?.trim()) {
                            <span class="cursor-pointer" (click)="togglePassword(i, grabacion.password)">
                                {{ showPasswords[i]
                                ? grabacion.password
                                : '•'.repeat(grabacion.password.length) }}
                            </span>
                            } @else {
                            <span class="text-gray-400 italic">
                                ********
                            </span>
                            }
                        </td>
                        <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap dark:text-white">

                            @if (grabacion.playbackUrl?.trim()) {

                            <a [href]="grabacion.playbackUrl" target="_blank" rel="noopener noreferrer"
                                class="bg-[#ffc56d] p-2 rounded-[10%] inline-block cursor-pointer">

                                <svg class="text-[#a5508c]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Zm2 0V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Zm-2 4a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H9Zm0 2h2v2H9v-2Zm7.965-.557a1 1 0 0 0-1.692-.72l-1.268 1.218a1 1 0 0 0-.308.721v.733a1 1 0 0 0 .37.776l1.267 1.032a1 1 0 0 0 1.631-.776v-2.984Z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>

                            } @else {

                            <span class="bg-[#ffc56d] p-2 rounded-[10%] inline-block cursor-not-allowed opacity-60">
                                <svg class="text-[#a5508c]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                        d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Zm2 0V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Zm-2 4a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H9Zm0 2h2v2H9v-2Zm7.965-.557a1 1 0 0 0-1.692-.72l-1.268 1.218a1 1 0 0 0-.308.721v.733a1 1 0 0 0 .37.776l1.267 1.032a1 1 0 0 0 1.631-.776v-2.984Z"
                                        clip-rule="evenodd" />
                                </svg>
                            </span>

                            }

                        </td>
                    </tr>
                </ng-template>
                <ng-template #emptymessage>
                    <tr>
                        <td colspan="6" class="text-center p-4">No hay partes registradas.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


        }

        <!-- Modal CANCELACIÓN -->
        <p-dialog header="Agregar anexo" [modal]="true" [(visible)]="visibleAnexo" [style]="{ width: '25rem' }"
            [closable]="false">

            <form [formGroup]="anexoForm" (ngSubmit)="confirmSolicitud($event)" class="relative rounded-lg">
                <div class="space-y-6">
                    <div class="grid grid-cols-6 gap-6">

                        <!-- Observaciones -->
                        <div class="col-span-6">
                            <label for="observaciones"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Observaciones
                            </label>
                            <textarea id="observaciones" rows="4" formControlName="observaciones" pInputTextarea
                                maxlength="200"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Escribe tu motivo aquí..."></textarea>

                            @if (shouldShowError('observaciones', anexoForm)) {
                            <div class="text-red-500 text-sm mt-1">
                                {{ getError('observaciones', anexoForm) }}
                            </div>
                            }
                        </div>

                        <!-- Archivo -->
                        <div class="col-span-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Anexo
                            </label>
                            <p-fileupload mode="basic" name="documento" chooseLabel="Seleccionar archivo"
                                chooseIcon="pi pi-upload" [customUpload]="true" [multiple]="false"
                                [accept]="'.pdf,.doc,.docx,.png,.jpg,.jpeg'" [maxFileSize]="10000000"
                                (onSelect)="onFileSelected($event)" styleClass="w-full">
                            </p-fileupload>
                            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">
                                PDF, DOC, JPG, PNG (solo 1 archivo)
                            </p>
                        </div>

                    </div>

                    <div class="flex justify-end gap-2 mt-4">
                        <p-button label="Cancelar" severity="secondary" (onClick)="resetAnexoForm()"></p-button>
                        <p-button type="submit" label="Confirmar" [disabled]="anexoForm.invalid"></p-button>
                    </div>
                </div>
            </form>
        </p-dialog>


        <!-- Modal SOLICITAR GRABACIÓN -->
        <p-dialog header="Solicitar grabación" [modal]="true" [(visible)]="visibleSolicitarGrabacion"
            [style]="{ width: '25rem' }" [closable]="false">

            <form [formGroup]="solicitudForm" (ngSubmit)="confirmarSolcitudGrabacion($event)"
                class="relative rounded-lg">
                <div class="space-y-6">
                    <div class="grid grid-cols-6 gap-6">

                        <!-- Mensaje -->
                        <div class="col-span-6">
                            <label for="mensaje" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Mensaje
                            </label>
                            <textarea id="mensaje" rows="4" formControlName="observaciones" pInputTextarea
                                class="block p-2.5 uppercase w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Escribe tu mensaje aquí..."></textarea>

                            @if (shouldShowError('observaciones', solicitudForm)) {
                            <div class="text-red-500 text-sm mt-1">
                                {{ getError('observaciones', solicitudForm) }}
                            </div>
                            }
                        </div>

                        <!-- Archivo -->
                        <div class="col-span-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Anexo
                            </label>
                            <p-fileupload mode="basic" name="solicitudDocumento" chooseLabel="Seleccionar archivo"
                                chooseIcon="pi pi-upload" [customUpload]="true" [multiple]="false"
                                [accept]="'.pdf,.doc,.docx,.png,.jpg,.jpeg'" [maxFileSize]="10000000"
                                (onSelect)="onFileSelectedSolicitud($event)" styleClass="w-full">
                            </p-fileupload>
                            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">
                                PDF, DOC, JPG, PNG (solo 1 archivo)
                            </p>
                        </div>

                    </div>

                    <div class="flex justify-end gap-2 mt-4">
                        <p-button label="Cancelar" severity="secondary" (onClick)="resetSolicitudForm()"></p-button>
                        <p-button type="submit" label="Confirmar" [disabled]="solicitudForm.invalid"></p-button>
                    </div>
                </div>
            </form>
        </p-dialog>

        <!-- Confirmar CANCELAR solicitud de audiencia -->
        <app-confirm-dialog key="cancelarAudiencia" title="Confirmación" message="Confirma para cancelar la audiencia"
            icon="pi pi-question-circle" circleClass="bg-red-500" acceptLabel="Confirmar"
            acceptStyleClass="bg-red-600 border-red-600" rejectLabel="Cancelar">
        </app-confirm-dialog>

        <!-- Modal de diálogo para confirmar solicitud de grabación -->
        <app-confirm-dialog key="solicitudGrabacion" title="Confirmación"
            message="Confirma para solicitar las grabaciones" icon="pi pi-question-circle" circleClass="bg-blue-500"
            acceptLabel="Confirmar" acceptStyleClass="bg-blue-600 border-blue-600" rejectLabel="Cancelar">
        </app-confirm-dialog>


            <app-pdf-dialog [header]="nombre" [url]="documentoUrl" [(visible)]="mostrarDocumento">
            </app-pdf-dialog>