<p-accordion>
    <p-accordion-panel value="0">

        <p-accordion-header class="dark:text-surface-0">
            
            <label class="font-bold text-2xl text-surface-900 dark:text-surface-0 ">
                    OPCIONES DE BÚSQUEDA
                </label>
        </p-accordion-header>

        <p-accordion-content>
               <form #myForm="ngForm" (ngSubmit)="BusquedaFiltros()" aria-label="Filtros de búsqueda de apelaciones" >
            <p-fieldset legend="Datos de Apelación">

              <div class=" flex flex-wrap grid-cols-12 gap-4 w-full" >

                <div class="field col-12 md:col-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Folio de Oficialia</label>

                    <!-- <input pInputText [(ngModel)]="filtros.folioOficial"  name="folioOficial" /> -->
                    <!-- <p-inputmask  Mask="9999/9999" [unmask]="true" [(ngModel)]="filtros.folioOficial" placeholder="9999/9999"  name="folioOficial"></p-inputmask> -->
                    <p-inputMask
  mask="9999/9999"
  [(ngModel)]="filtros.folioOficial"
  placeholder="0000/0000"
  name="folioOficial">
</p-inputMask>


                    
                </div>

                <div class="field col-12 md:col-6">

                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sala     </label>
                    <p-select [options]="catSalas" optionLabel="descripcion" optionValue="idsala" placeholder="Selecciona una sala" appendTo="body" [(ngModel)]="filtros.idSala"  name="idSala"></p-select>

                
                    
                 
                </div>
                
           
                <div class="field col-12 md:col-6">

                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">  Nomenclatura  </label>
                    <p-select [options]="catNomenclatura"   optionLabel="descripcion" optionValue="idCatNomenclatura"  placeholder="Selecciona tipo de nomenclatura" appendTo="body" [(ngModel)]="filtros.idNomenclatura" name="idNomenclatura"></p-select>

                   
                </div>

                <div class="field col-12 md:col-6">

                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Folio Apelación  </label>
                    <input pInputText [(ngModel)]="filtros.folioExpediente" name="folioExpediente" />

                   
                </div>

                <div class="field col-12 md:col-6">

                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apelación </label>
                    <p-select [options]="catApelaciones" optionLabel="descripcion" optionValue="idCatApelacion" placeholder="Selecciona tipo de apelación" appendTo="body" [(ngModel)]="filtros.tipoApelacion" name="tipoApelacion"></p-select>
                
                </div>

                <div class="field col-12 md:col-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Exp/Causa </label>
                    <input pInputText [(ngModel)]="filtros.expedienteCausa" name="expedienteCausa" />

                    
                </div>

                <div class="field col-12 md:col-6">

                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Parte </label>
                    <input pInputText [(ngModel)]="filtros.nombreParte" name="nombreParte" />

                    
                </div>

</div>

            </p-fieldset>

            <p-fieldset legend="Fecha de Recepción" class="mt-3">
                <div class="flex flex-wrap grid-cols-12 gap-4 w-full" >

                <div class="col-12 md:col-6">

                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Inicial </label>
                    <p-datepicker [(ngModel)]="filtros.fechaRecepInicial" [iconDisplay]="'input'" [showIcon]="true" inputId="fechaRecepInicial" name="fechaRecepInicial" />
                

                </div>
                


                <div class="col-12 md:col-6">

                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Final  </label>
                    <p-datepicker [(ngModel)]="filtros.fechaRecepFinal" [iconDisplay]="'input'" [showIcon]="true" inputId="fechaRecepFinal" name="fechaRecepFinal" />

                   
                </div>
                </div>

            </p-fieldset>

            <div class="flex justify-content-end gap-2 mt-3">
                <p-button label="Limpiar" (click)="limpiar()" severity="secondary" />
                <p-button type="submit" label="Confirmar" />

          </div>
          </form>



        </p-accordion-content>

    </p-accordion-panel>

</p-accordion>



<!-- TABLA -->
<div class="col-12 md:col-9">
    <p-table [value]="listaapelaciones?.expediente || []" [tableStyle]="{'min-width':'100%'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Folio de Oficialia.</th>
                <th>Folio de Apelación</th>
                <th>Sala</th>
                <th>Apelación</th>
                <th>Tipo de Apelación</th>
                <th>Expediente Causa</th>
                <th>Folio</th>
                  <th>Acciones</th>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="body" let-lstapelaciones let-i="rowIndex"> -->
            <ng-template #body let-expediente let-i="rowIndex">
            <tr>
                <!-- <td>{{i+1}}</td> -->
                <td>{{expediente?.foliodeOficialia}}</td>
                <td>{{expediente?.foliodeApelacion}}</td>
                <td>{{expediente?.sala}}</td>
                <td>{{expediente?.apelacion}}</td>
                <td>{{expediente?.tipodeApelacion}}</td>
                <td>{{expediente?.expediente_Causa}}</td>
                 <td>{{expediente?.foliodelOficio}}</td>
                  <td><p-button label="Ver Detalle" icon="pi pi-eye" severity="info" size="small" /></td>
            </tr>
        </ng-template>
    </p-table>
</div>