<div>
  @if(isOpen()){
  <div class="fixed inset-0 z-50 flex items-center justify-center bg-primary/40! ">
    <div class="bg-surface-0 dark:bg-surface-950 border border-surface rounded-2xl shadow-lg w-full max-w-lg mx-4 overflow-hidden flex flex-col"
      style="max-height: 90vh;">

      <!-- Header -->
      <div class="flex items-center justify-between px-4 py-3 border-b border-surface shrink-0">
        <span class="font-semibold text-sm uppercase tracking-wider text-surface-600 dark:text-surface-200">
          <ng-content select="[modal-title]">Datos del acuse</ng-content>
        </span>
        <button type="button" (click)="closeModal()"
          class="w-8 h-8 flex items-center justify-center rounded-lg hover:bg-emphasis transition-all text-muted-color"
          aria-label="Cerrar">
          <i class="pi pi-times text-sm"></i>
        </button>
      </div>

      <!-- Contenido -->
      <div class="overflow-y-auto flex-1">
        <ng-content></ng-content>
      </div>

    </div>
  </div>
  }
</div>