<div class="relative min-h-screen lg:h-screen bg-surface-0 dark:bg-surface-900 flex lg:flex-row flex-col">
    <div class="flex lg:flex lg:flex-row flex-col justify-center md:justify-normal h-full flex-1">
        <div class="relative flex-1 z-20 flex items-center justify-center">
            <div class="flex items-center justify-center h-full">
                @if(step===1){
                    <div class="w-full max-w-2xl px-6 py-12 lg:p-12 xl:p-16 text-center lg:text-left">
                        <h1
                            class="text-4xl xl:text-5xl font-bold text-surface-0 lg:text-surface-900 dark:text-surface-0 mb-6 leading-tight!">
                            <span class="block">Ingresa tu código</span>
                            <span class="block text-[#4285f4]">Google Autenticator</span>
                        </h1>
                        <p class="text-surface-600 dark:text-surface-200 mb-6">
                            Selecciona primero la adscripción y después el perfil con el que deseas ingresar al sistema.
                        </p>


                <div class="w-full max-w-2xl px-6 py-12 lg:p-12 xl:p-16 text-center lg:text-left">
                    <p-selectbutton [options]="loginOptions" [(ngModel)]="step" optionLabel="label" optionValue="value"
                        [fluid]="true" styleClass="w-full mb-10"></p-selectbutton>

                    <div *ngIf="step === 1">
                        <h1
                            class="text-4xl xl:text-5xl font-bold text-surface-0 lg:text-surface-900 dark:text-surface-0 mb-6 leading-tight!">
                            <span class="block">Ingresa tu código</span>
                            <span class="block text-primary">Google Autenticator</span>
                        </h1>
                        <p class="text-surface-600 dark:text-surface-200 mb-6">
                            Ingrese a su aplicación de Google Autenticator para obtener el código de 6 dígitos.
                        </p>

                        <div class="flex flex-col gap-6">
                            <p-inputmask mask="999-999" placeholder="123-456" />
                            <div
                                class="flex flex-col sm:flex-row items-stretch sm:items-center gap-4 justify-center lg:justify-start">
                                <p-button type="button" (onClick)="goToStep2()" styleClass="w-full sm:w-auto ">
                                    <span pButtonIcon class="pi pi-google mr-1"></span>
                                    <span pButtonLabel>Continuar</span>
                                </p-button>

                                <p-button type="button" outlined class="w-full sm:w-auto">
                                    <span pButtonLabel>Salir</span>
                                </p-button>
                            </div>
                        </div>

                    <div *ngIf="step === 2">
                        <h1
                            class="text-4xl xl:text-5xl font-bold text-surface-0 lg:text-surface-900 dark:text-surface-0 mb-6 leading-tight!">
                            <span class="block">Ingresa tu Archivo de</span>
                            <span class="block text-primary">Llave Privada </span>
                        </h1>
                        <p class="text-surface-600 dark:text-surface-200 mb-6">
                            El archivo de llave privada es único y está resguardado exclusivamente por su titular, con
                            esto es posible determinar que se trata de la persona que se identifica y no de alguien que
                            desea suplantarlo. </p>

                        <div class="flex flex-col gap-6">
                            
                            <p-fileupload #fu mode="basic" chooseLabel="Llave" chooseIcon="pi pi-upload" name="demo[]"
                                url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"
                                maxFileSize="1000000" />
                            <label class="text-sm font-medium text-surface-700 dark:text-surface-200">Contraseña</label>

                            <p-password [feedback]="false" autocomplete="off" fluid [toggleMask]="true" />


                            <div
                                class="flex flex-col sm:flex-row items-stretch sm:items-center gap-4 justify-center lg:justify-start">
                                <p-button (onClick)="goToStep2()" type="button" class="w-full sm:w-auto">
                                    <span pButtonLabel>Continuar</span>
                                </p-button>
                                <p-button type="button" outlined class="w-full sm:w-auto">
                                    <span pButtonLabel>Salir</span>
                                </p-button>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>

        <div class="absolute lg:relative inset-0 lg:inset-auto flex-1">
            <div class="absolute lg:hidden inset-0 bg-surface-900/60 dark:bg-surface-900/80 z-10"></div>
            <img src="/justice.jpg" alt="hero-1"
                class="h-full w-full object-cover [clip-path:polygon(12%_0,100%_0%,100%_100%,0_100%)]" />
        </div>
    </div>
</div>