<app-spinner [isLoading]="isLoading"></app-spinner>


<!-- BLOQUE FIJO (HEADER + BUSQUEDA) -->
<div class="sticky top-0 z-50 bg-surface-50 dark:bg-surface-900 flex flex-col gap-4">

    <!-- HEADER -->
    <header
        class="border border-surface rounded-2xl bg-surface-50 dark:bg-surface-900 flex items-center justify-between overflow-hidden">
        <p-breadcrumb class="hidden lg:block" styleClass="bg-surface-50 dark:bg-surface-900" [home]="home"
            [model]="items" />

        <div class="ml-auto flex items-center gap-2 pr-4 pt-2 pb-2">
            <span class="text-base font-medium text-surface-700 dark:text-surface-200">Abogado: Juan Pérez</span>
            <p-avatar image="https://www.primefaces.org/cdn/primevue/images/landing/apps/main-avatar.png" size="large"
                shape="circle" class="shrink-0 p-avatar p-avatar-circle p-avatar-image p-avatar-lg p-component">
            </p-avatar>
        </div>
    </header>

    <!-- BUSQUEDA -->
    <div class="bg-surface-50 dark:bg-surface-900 border border-surface rounded-2xl p-4">
        <form class="flex flex-col" [formGroup]="validarCausaForm">

            <div class="flex items-start flex-col md:flex-row justify-between">
                <label class="font-bold text-2xl text-surface-900 dark:text-surface-0 mb-4 md:mb-0">
                    Búsqueda
                </label>

                <div class="flex items-center">
                    <p-button (click)="onBuscarTramitesElectronicos()" [disabled]="validarCausaForm.invalid">
                        <i pButtonIcon class="pi pi-search"></i>
                        <span pButtonLabel>Buscar</span>
                    </p-button>
                </div>
            </div>

            <div class="grid grid-cols-6 gap-4 w-full items-end">
                <div class="col-span-6 sm:col-span-3">
                    <label class="block mb-2 text-sm font-medium">Nombre Completo</label>
                    <p-inputmask fluid formControlName="numeroCausa" class="uppercase text-sm rounded-lg"
                        mask="9999/9999"  placeholder="0001/2026" />
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label class="block mb-2 text-sm font-medium">Nombre</label>
                    <p-select class="w-full" [options]="catJuzgados" formControlName="idJuzgado"
                        optionValue="idCatJuzgado" fluid placeholder="Selecciona un juzgado" [filter]="true"
                        optionLabel="descripcion" appendTo="body" />
                </div>
            </div>

        </form>
    </div>

</div>

<!-- CONTENIDO (ya no se mete "debajo" visualmente) -->
@if (mostrarTramites()) {
<div class="relative z-0 mt-4 bg-surface-50 dark:bg-surface-900 border border-surface rounded-2xl mb-4 p-4">
    <div class="flex items-start flex-col md:justify-between md:flex-row">
        <div>
            <div class="font-bold text-2xl text-surface-900 dark:text-surface-0 mb-4">Resultado</div>
            <div class="flex items-center text-surface-700 dark:text-surface-300 flex-wrap gap-8">
                <div class="flex items-center gap-2">
                    <i class="pi pi-users text-base! leading-normal!"></i>
                    <span>332 Registros</span>
                </div>
                <div class="flex items-center gap-2">
                    <i class="pi pi-globe text-base! leading-normal!"></i>
                    <span>9.402 Sesiones</span>
                </div>
                <div class="flex items-center gap-2">
                    <i class="pi pi-clock text-base! leading-normal!"></i>
                    <span>2.32m Promedio</span>
                </div>
            </div>
        </div>
    </div>

    <div class="card pt-4">
        <p-table #dt1 [value]="tramitesElectronicosRecibidos" dataKey="idTramiteElectronicoRecibido" [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
            [globalFilterFields]="['folio','fechaEnvio','observaciones','cantidadAnexos']">
            <ng-template #caption>
                <div class="flex">
                    <p-button label="Limpiar" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar una palabra" />
                    </p-iconfield>
                </div>
            </ng-template>

            <ng-template #header>
                <tr>
                    <th style="min-width:15rem">
                        <div class="flex items-center justify-between">
                            Folio
                            <p-columnFilter type="text" field="folio" display="menu" />
                        </div>
                    </th>
                    <th style="min-width:15rem">
                        <div class="flex items-center justify-between">
                            Fecha de Envío
                            <p-columnFilter type="date" field="fechaEnvio" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width:10rem">
                        <div class="flex items-center justify-between">
                            Observaciones
                            <p-columnFilter type="text" field="observaciones" display="menu" />
                        </div>
                    </th>
                    <th style="min-width:15rem">
                        <div class="flex items-center justify-between">
                            Cantidad de Documentos
                            <p-columnFilter type="numeric" field="cantidadAnexos" display="menu" />
                        </div>
                    </th>
                      <th style="min-width:10rem">
                        <div class="flex items-center justify-between">
                            Acciones
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template #body let-tramite>
                <tr>
                    <td>{{ tramite.folio }}</td>
                    <td>{{ tramite.fechaEnvio | date: 'MM/dd/yyyy' }}</td>
                    <td>{{ tramite.observaciones }}</td>
                    <td>{{ tramite.cantidadAnexos }}</td>
                    <td> <p-button type="button" class="btn-secondary" >
                                    <i class="pi pi-eye"></i>
                                </p-button></td>
                </tr>
            </ng-template>

            <ng-template #emptymessage>
                <tr>
                    <td colspan="7">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
}

<app-confirm-dialog key="info" title="No hay conincidencias" message="La causa o el juzgado es incorrecto."
    icon="pi pi-info" circleClass="bg-blue-500" acceptLabel="Aceptar" acceptStyleClass="btn-info" [showReject]="false">
</app-confirm-dialog>