<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="sticky top-0 z-50 flex flex-col bg-surface-0 dark:bg-surface-960">

    <!-- HEADER -->
    <app-breadcrub></app-breadcrub>
    <!-- BUSQUEDA -->
    <div class="bg-surface-50 dark:bg-surface-950 border border-surface rounded-2xl p-4">
        <form class="flex flex-col" [formGroup]="validarCausaForm">

            <label class="font-medium text-2xl text-surface-900 dark:text-surface-0 mb-2 ">
                Búsqueda de promociones electrónicas
            </label>

            <div class="grid grid-cols-6 gap-4 w-full items-end">
                <div class="col-span-6 md:col-span-2">
                    <label class="block mb-2 text-sm font-medium">Tipo de Trámite</label>
                    <p-select class="w-full" [options]="catTipoTramite" formControlName="idCatTipoTramite"
                        (onChange)="cargarCatalogoJuzgados($event.value)" optionValue="value" fluid
                        placeholder="Selecciona un tipo de trámite" [filter]="true" optionLabel="label"
                        appendTo="body" />
                </div>
                <div class="col-span-6 md:col-span-1">
                    <label class="block mb-2 text-sm font-medium">Folio</label>
                    <p-inputmask fluid formControlName="numeroExpediente" class="uppercase text-sm rounded-lg"
                        mask="9999/9999" placeholder="0001/2026" />
                </div>

                <div class="col-span-6 md:col-span-2">
                    <label class="block mb-2 text-sm font-medium">Juzgado</label>
                    <p-select class="w-full" [options]="catJuzgados" formControlName="idJuzgado"
                        optionValue="idCatJuzgado" fluid placeholder="Selecciona un juzgado" [filter]="true"
                        optionLabel="descripcion" appendTo="body" />
                </div>
                <div class="col-span-6 md:col-span-1">
                    <p-button (click)="onBuscarTramitesElectronicos()" [disabled]="validarCausaForm.invalid">
                        <i pButtonIcon class="pi pi-search"></i>
                        <span pButtonLabel>Buscar</span>
                    </p-button>
                </div>

            </div>
        </form>
    </div>

</div>

<!-- CONTENIDO (ya no se mete "debajo" visualmente) -->
@if (mostrarTramites()) {
<div class="relative z-0 mt-4 bg-surface-50 dark:bg-surface-950 border border-surface rounded-2xl mb-4 p-4">
    <div class="flex items-start flex-col md:justify-between md:flex-row">
        <div>
            <div class="font-medium text-xl text-surface-900 dark:text-surface-0 ">Resultado</div>
        </div>
    </div>

    <div class="card pt-4">
        <p-table #dt1 [value]="tramitesElectronicosRecibidos" stripedRows  dataKey="idTramiteElectronicoRecibido" [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
            [globalFilterFields]="['folio','fechaEnvio','observaciones','cantidadAnexos']">
            <ng-template #caption>
                <div class="flex">
                    <p-button label="Limpiar" [outlined]="true" icon="pi pi-filter-slash" (click)="limpiarBusqueda()" />
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar una palabra" />
                    </p-iconfield>
                </div>
            </ng-template>

            <ng-template #header>
                <tr>
                    <th>
                        Folio
                        <!-- <p-columnFilter type="text" field="folio" display="menu" /> -->
                    </th>
                    <th>
                        Fecha de Envío
                        <!-- <p-columnFilter type="date" field="fechaEnvio" display="menu"></p-columnFilter> -->
                    </th>
                    <th>
                        Observaciones
                        <!-- <p-columnFilter type="text" field="observaciones" display="menu" /> -->

                    </th>
                    <th>
                        Cantidad de Documentos
                        <!-- <p-columnFilter type="numeric" field="cantidadAnexos" display="menu" /> -->
                    </th>
                    <th pFrozenColumn alignFrozen="right">
                        Acciones
                    </th>
                </tr>
            </ng-template>

            <ng-template #body let-tramite>
                <tr>
                    <td>{{ tramite.folio }}</td>
                    <td>{{ tramite.fechaEnvio | date:'yyyy-MM-dd HH:mm' }} h</td>
                    <td>{{ tramite.observaciones }}</td>
                    <td>{{ tramite.cantidadAnexos }}</td>
                    <td pFrozenColumn alignFrozen="right">
                        <div class="flex gap-2">

                            <p-button pTooltip="Ver detalle" (click)="detalle(tramite.idTramiteElectronicoRecibido)"
                                tooltipPosition="top">
                                <i class="pi pi-eye"></i>
                            </p-button>
                            <p-button pTooltip="Descargar acuse"
                                (click)="descargarAcuse(tramite.idTramiteElectronicoRecibido)" tooltipPosition="top"
                                class="ml-2">
                                <i class="pi pi-download"></i>
                            </p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template #emptymessage>
                <tr>
                    <td colspan="7">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
}

<app-confirm-dialog key="info" title="No hay coincidencias" message="La causa o el juzgado es incorrecto."
    icon="pi pi-info" circleClass="bg-blue-500" acceptLabel="Aceptar" acceptStyleClass="btn-info" [showReject]="false">
</app-confirm-dialog>