<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="sticky top-0 z-50 flex flex-col bg-surface-0 dark:bg-surface-950">

    <!-- HEADER -->
    <app-header></app-header>
    <app-breadcrub></app-breadcrub>
    <div class="mb-2">
        <h1 class="text-2xl font-semibold text-surface-900 dark:text-surface-0 tracking-tight">
            Búsqueda de promociones electrónicas
        </h1>
        <p class="text-surface-500 dark:text-surface-400 mt-1">
            Ingrese la información requerida según corresponda su promoción.
        </p>
    </div>
    <!-- BUSQUEDA -->
    <div class="bg-surface-50 dark:bg-surface-950 border border-dashed border-slate-300 rounded-2xl p-4">
        <form class="flex flex-col" [formGroup]="validarCausaForm" (ngSubmit)="onBuscarTramitesElectronicos()">

            <div class="grid grid-cols-12 gap-4 w-full items-end">
                <div class="col-span-12 md:col-span-6 lg:col-span-3">
                    <label for="idCatTipoTramite" class="block mb-2 text-sm font-medium">Tipo</label>
                    <p-select class="w-full" [options]="catTipoTramite" formControlName="idCatTipoTramite"
                        (onChange)="cargarCatalogoJuzgados($event.value)" optionValue="value" fluid
                        placeholder="Selecciona un tipo de trámite" [filter]="true" optionLabel="label"
                        appendTo="body" />
                </div>
                <div class="col-span-12 md:col-span-6 lg:col-span-2">
                    <label for="numeroExpediente" class="block mb-2 text-sm font-medium">Folio
                       
                    </label>
                   
                    <p-inputmask fluid formControlName="numeroExpediente" class="uppercase text-sm rounded-lg"
                        [mask]="numeroExpedienteMask"
                        [placeholder]="numeroExpedientePlaceholder" />
                </div>

                <div class="col-span-12 md:col-span-6 lg:col-span-4">
                    <label for="idJuzgado" class="block mb-2 text-sm font-medium">Juzgado</label>
                    <p-select class="w-full" [options]="catJuzgados" formControlName="idJuzgado"
                        optionValue="idCatJuzgado" fluid placeholder="Selecciona un juzgado" [filter]="true"
                        optionLabel="descripcion" appendTo="body" />
                </div>

                <div class="col-span-12 md:col-span-4 lg:col-span-2 flex gap-4 ">
                    <p-button type="button" icon="pi pi-filter-slash" [outlined]="true" (click)="limpiarBusqueda()"
                        aria-label="Limpiar filtros"></p-button>

                    <p-button type="submit" aria-label="Buscar" [disabled]="validarCausaForm.invalid"
                        styleClass="btn-secondary">
                        <i pButtonIcon class="pi pi-search" aria-hidden="true"></i>
                        <span pButtonLabel>Buscar</span>
                    </p-button>
                </div>
            </div>
        </form>
    </div>

</div>

<!-- CONTENIDO (ya no se mete "debajo" visualmente) -->
@if (mostrarTramites()) {
<div class="relative z-0 mt-4 bg-surface-50 dark:bg-surface-950 border border-dashed border-slate-300 rounded-2xl mb-4 p-4">
    <div class="flex items-start flex-col md:justify-between md:flex-row">
        <div>
            <div class="font-medium text-xl text-surface-900 dark:text-surface-0 ">Resultado</div>
        </div>
    </div>

    <div class="card pt-4">
        <p-table #dt1 [value]="tramitesElectronicosRecibidos" stripedRows dataKey="idTramiteElectronicoRecibido"
            [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
            [globalFilterFields]="['folio','fechaEnvio','observaciones','cantidadAnexos']">
            <ng-template #caption>
                <div class="flex">
                    <p-button label="Limpiar" [outlined]="true" icon="pi pi-filter-slash" (click)="limpiarBusqueda()" />
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar una palabra" />
                    </p-iconfield>
                </div>
            </ng-template>

            <ng-template #header>
                <tr>
                    <th>
                        Folio de trámite    
                        <!-- <p-columnFilter type="text" field="folio" display="menu" /> -->
                    </th>
                    <th>
                        Fecha de Envío
                        <!-- <p-columnFilter type="date" field="fechaEnvio" display="menu"></p-columnFilter> -->
                    </th>
                    <th>
                        Observaciones
                        <!-- <p-columnFilter type="text" field="observaciones" display="menu" /> -->

                    </th>
                    <th>
                        Cantidad de Documentos
                        <!-- <p-columnFilter type="numeric" field="cantidadAnexos" display="menu" /> -->
                    </th>
                    <th pFrozenColumn alignFrozen="right">
                        Acciones
                    </th>
                </tr>
            </ng-template>

            <ng-template #body let-tramite>
                <tr>
                    <td>{{ tramite.folio }}</td>
                    <td>{{ tramite.fechaEnvio | date:'yyyy-MM-dd HH:mm' }} h</td>
                    <td>{{ tramite.observaciones }}</td>
                    <td>{{ tramite.cantidadAnexos }}</td>
                    <td pFrozenColumn alignFrozen="right">
                        <div class="flex gap-2">

                            <p-button pTooltip="Ver detalle" (click)="detalle(tramite.idTramiteElectronicoRecibido)"
                                tooltipPosition="top">
                                <i class="pi pi-eye"></i>
                            </p-button>
                            <p-button pTooltip="Descargar acuse"
                                (click)="descargarAcuse(tramite.idTramiteElectronicoRecibido)" tooltipPosition="top"
                                class="ml-2">
                                <i class="pi pi-download"></i>
                            </p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template #emptymessage>
                <tr>
                    <td colspan="7">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
}

<app-confirm-dialog key="info" title="No hay coincidencias" message="La causa o el juzgado es incorrecto."
    icon="pi pi-info" circleClass="bg-blue-500" acceptLabel="Aceptar" acceptStyleClass="btn-info" [showReject]="false">
</app-confirm-dialog>
