<div class="sticky top-0 z-50 flex flex-col gap-4 bg-surface-0 dark:bg-surface-900">
    <!-- HEADER -->
    <app-breadcrub></app-breadcrub>

    <!-- BUSQUEDA -->
    <div class="border border-surface rounded-2xl p-4">
        <div class="flex items-start flex-col md:flex-row justify-between mb-2">
            <div class="font-medium text-2xl">
                Búsqueda
            </div>

        </div>

        <form (ngSubmit)="aplicarFiltros()" aria-label="Filtros de búsqueda de requerimientos">
            <div class="grid grid-cols-12 gap-4 w-full items-end">

                <!-- Estatus -->
                <div class="col-span-12 md:col-span-6 lg:col-span-3 w-full">
                    <label for="idEstatus" class="block mb-2 text-sm font-medium">Estatus</label>

                    <p-select inputId="idEstatus" name="idEstatus" class="w-full" [options]="estadoOptions"
                        [(ngModel)]="filtro.estado" optionLabel="label" optionValue="value"  appendTo="body" fluid>
                    </p-select>
                </div>

                <!-- Fecha -->
                <div class="col-span-12 md:col-span-6 lg:col-span-3">
                    <label for="rangeDates" class="block mb-2 text-sm font-medium">Fecha</label>

                    <p-datepicker inputId="rangeDates" name="rangeDates" fluid placeholder="Selecciona rango"
                        [(ngModel)]="filtro.rangeDates" selectionMode="range" [readonlyInput]="true">
                    </p-datepicker>
                </div>

                <!-- Botones -->
                <div class="col-span-12 md:col-span-6 lg:col-span-2 flex gap-4">
                    <p-button type="button" icon="pi pi-filter-slash" [outlined]="true" (click)="limpiarFiltros()"
                        aria-label="Limpiar filtros">
                    </p-button>

                    <p-button type="submit" aria-label="Buscar" styleClass="btn-primary">
                        <i pButtonIcon class="pi pi-search" aria-hidden="true"></i>
                        <span pButtonLabel>Buscar</span>
                    </p-button>
                </div>

            </div>
        </form>
    </div>
</div>


<div class="relative z-0 mt-4  border border-surface rounded-2xl mb-4 p-4">
    <p-table [rows]="10" [value]="listaRequerimientos()" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        [globalFilterFields]="['NumExpediente','fechaLimite','Descripcion','tiempoRestante']">
        <ng-template #caption>
            <div class="flex">
                <div class="font-medium text-xl mb-4">Resultado</div>

                <!-- <p-button label="Limpiar" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar una palabra" />
                    </p-iconfield> -->
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th>
                    <div class="flex items-center justify-between">Expediente</div>
                </th>
                <th>
                    <div class="flex items-center justify-between">Juzgado</div>
                </th>
                <th>
                    <div class="flex items-center justify-between">Fecha Limite</div>
                </th>
                <th>
                    <div class="flex items-center justify-between">Tiempo restante</div>
                </th>
                <th>
                    <div class="flex items-center justify-between">Estado</div>
                </th>

                <th style="min-width: 9rem">
                    <div class="flex items-center justify-between">Acciones</div>
                </th>
            </tr>
        </ng-template>

        <ng-template #body let-requerimiento>
            <tr>
                <td>{{ requerimiento.expediente.NumExpediente }}</td>
                <td>{{ requerimiento.expediente.juzgado.Descripcion}}</td>

                <td>{{ requerimiento.fechaLimite | date:'dd/MM/yyyy HH:mm' }}</td>

                <td>{{ requerimiento.tiempoRestante }}</td>
                <td style="font-size: small;">
                    <p-tag [value]="(getEstadoDescripcion(requerimiento) | uppercase) ?? ''"
                        [severity]="getEstadoTag(requerimiento).severity" [icon]="getEstadoTag(requerimiento).icon">
                    </p-tag>


                </td>
                <td>
                    <p-button (click)="detalleRequerimiento(requerimiento.idRequerimiento)" [rounded]="true"
                         [raised]="true" severity="info" [rounded]="true" icon="pi pi-eye"
                        pTooltip="Ver detalle" tooltipPosition="top" title="Detalle">
                    </p-button>

                </td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="8">Sin requerimientos.</td>
            </tr>
        </ng-template>
    </p-table>


</div>