:root {
  /* Color predominante del sidebar */
  --sidebar-accent: #b2915b;

  /* Café más oscuro para textos */
  --sidebar-accent-dark: #6f5838;

  /* Fondo cálido */
  --sidebar-background: #fcfaf6;

  /* Fondo de iconos */
  --sidebar-icon-background: #f1ebe2;

  /* Bordes cálidos */
  --sidebar-border: #e6ded1;

  /* Color secundario */
  --sidebar-secondary: #315d53;
}