<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="relative mx-auto mt-4 border border-surface-200 bg-white p-5 dark:border-surface-800 dark:bg-surface-900">
    <!-- Esquinas decorativas -->
    <span
        class="pointer-events-none absolute -left-px -top-px h-3 w-3 border-l border-t border-surface-800 dark:border-surface-200"></span>

    <span
        class="pointer-events-none absolute -right-px -top-px h-3 w-3 border-r border-t border-surface-800 dark:border-surface-200"></span>

    <span
        class="pointer-events-none absolute -bottom-px -left-px h-3 w-3 border-b border-l border-surface-800 dark:border-surface-200"></span>

    <span
        class="pointer-events-none absolute -bottom-px -right-px h-3 w-3 border-b border-r border-surface-800 dark:border-surface-200"></span>

    <div class="mb-5 flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between">
        <div class="min-w-0">
            <h1 class="text-xl font-medium tracking-tight text-surface-900 dark:text-surface-0">
                <span class="pi pi-map-marker text-lg text-primary"></span> Búsqueda de juzgados
            </h1>

            <p class="mt-1 text-sm leading-5 text-surface-500 dark:text-surface-400">
                Filtre cada una de las opciones para buscar el ámbito de competencia deseado.
            </p>
        </div>

        @if(!tienePermisoAgregarJuzgadoMateria) {
        <div class="shrink-0">
            <button pButton type="button" class="w-full sm:w-auto" (click)="visibleDrawer = true">
                <i pButtonIcon class="pi pi-plus"></i>
                <span pButtonLabel>Agregar</span>
            </button>
        </div>
        }
    </div>

    <!-- RESULTADOS -->
    <div class="relative bg-surface-50 sm:p-0 p-4 mt-4 gap-4 transition-colors dark:bg-surface-950/30">
        <!-- Encabezado de resultados -->
        <div class="p-4">
            <h2 class="text-base font-semibold leading-5 text-surface-800 dark:text-surface-100">
                Resultado
            </h2>

            <p class="mt-1 max-w-2xl text-sm leading-5 text-surface-500 dark:text-surface-400">
                Listado de ámbitos de competencia encontrados con base en los filtros aplicados.
            </p>
        </div>

        <!-- Separador -->
        <div class="border-t-[0.5px] border-surface-200 dark:border-surface-800"></div>

        <p-table class="personalizado" #dt1 [value]="listaConfiJuzgado()" dataKey="idConfiguracion" [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
            [globalFilterFields]="['region','municipio','materia','juzgado']">
            <ng-template #caption>
                <div class="flex w-full p-2 flex-col gap-4 sm:flex-row sm:items-center sm:justify-between">
                    <div class="inline-flex items-center gap-2 rounded-lg
               bg-surface-100 px-3 py-1.5
               text-surface-700
               dark:bg-surface-800 dark:text-surface-200">
                        <i class="pi pi-briefcase text-sm text-primary"></i>
                        <span class="text-sm font-semibold">{{ totalRegistros }} Registros</span>
                    </div>

                    <div class="flex justify-end gap-2">
                        <button pButton [outlined]="true" (click)="exportarCSV(dt1)" class="whitespace-nowrap">
                            <i pButtonIcon class="pi pi-file-excel"></i>
                            <span pButtonLabel>Exportar</span>
                        </button>
                    </div>
                </div>
            </ng-template>

            <ng-template #header>
                <tr>
                    <th class="text-base font-semibold" style="min-width:15rem">
                        <div class="flex items-center justify-between">
                            Región
                            <p-columnfilter type="text" field="region" display="menu" />
                        </div>
                    </th>
                    <th class="text-base font-semibold" style="min-width:15rem">
                        <div class="flex items-center justify-between">
                            Municipio
                            <p-columnfilter type="text" field="municipio" display="menu" />
                        </div>
                    </th>
                    <th class="text-base font-semibold" style="min-width:10rem">
                        <div class="flex items-center justify-between">
                            Materia
                            <p-columnfilter field="materia" display="menu" [showMatchModes]="false"
                                [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-select [ngModel]="value" [options]="listaMateria" optionLabel="nombre"
                                        optionValue="nombre" placeholder="Selecciona una materia" [showClear]="true"
                                        (onChange)="filter($event.value)">
                                    </p-select>
                                </ng-template>
                            </p-columnfilter>
                        </div>
                    </th>
                    <th class="text-base font-semibold" style="min-width:15rem">
                        <div class="flex items-center justify-between">
                            Juzgado
                            <p-columnfilter type="text" field="juzgado" display="menu" />
                        </div>
                    </th>
                    <th pFrozenColumn alignFrozen="right" class="text-base font-semibold" style="min-width:10rem">
                        Acciones</th>
                </tr>
            </ng-template>

            <ng-template #body let-juzgado>
                <tr>
                    <td>{{ juzgado.region }}</td>
                    <td>{{ juzgado.municipio }}</td>
                    <td>{{ juzgado.materia }}</td>
                    <td>{{ juzgado.juzgado }}</td>
                    @if (tienePermisoEliminarAsignacion) {
                    <td pFrozenColumn alignFrozen="right">
                        <button pButton severity="danger" (click)="confirmacionEliminarConfig(juzgado)">
                            <i pButtonIcon class="pi pi-trash"></i>
                            <span pButtonLabel>Eliminar</span>
                        </button>
                    </td>
                    }
                </tr>
            </ng-template>

            <ng-template #emptymessage>
                <tr>
                    <td colspan="5" class="py-4 text-center text-sm text-surface-500 dark:text-surface-400">
                        No hay registros.
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast></p-toast>

<p-drawer header="Relacionar" [(visible)]="visibleDrawer" position="right" styleClass="!w-full sm:!w-[30rem] ">
    <form class="flex flex-col" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <div class="grid grid-cols-6 gap-4 w-full items-end">
            <!-- Región -->
            <div class="col-span-6">
                <label for="region" class="block mb-2 text-sm font-medium">Región</label>
                <p-select id="region" name="region" class="w-full" [options]="listaRegion" [(ngModel)]="selectRegion"
                    optionLabel="descripcion" appendTo="body" [filter]="true" filterPlaceholder="Buscar región..."
                    inputId="region-dropdown" (onChange)="onRegionChange($event)" required fluid>
                </p-select>
            </div>

            <!-- Municipio -->
            <div class="col-span-6">
                <label for="municipio" class="block mb-2 text-sm font-medium">Municipio</label>
                <p-select id="municipio" name="municipioRegion" class="w-full uppercase"
                    [options]="listaMunicipiosRegion" [(ngModel)]="selectedMunicipioRegion" optionLabel="descripcion"
                    [editable]="true" appendTo="body" [filter]="true" filterPlaceholder="Buscar municipio..."
                    inputId="municipio-dropdown" (onChange)="onMunicipioChange($event)" required fluid>
                </p-select>
            </div>

            <!-- Juzgado -->
            <div class="col-span-6">
                <label for="juzgado" class="block mb-2 text-sm font-medium">Juzgado</label>
                <p-select id="juzgado" name="juzgadoRegion" class="w-full" [options]="listaJuzgado"
                    [(ngModel)]="selectedJuzgado" optionLabel="nombre" [editable]="true" appendTo="body"
                    [filter]="true" filterPlaceholder="Buscar juzgado..." inputId="juzgado-dropdown"
                    (onChange)="onJuzgadoChange($event)" required fluid>
                </p-select>
            </div>

            <!-- Tipo de Materia -->
            <div class="col-span-6">
                <label for="materia" class="block mb-2 text-sm font-medium">Tipo de Materia</label>
                <p-select id="materia" name="materiaRegion" class="w-full" [options]="listaMateria"
                    [(ngModel)]="selectMateria" optionLabel="nombre" appendTo="body" [filter]="true"
                    filterPlaceholder="Buscar materia..." inputId="materia-dropdown" required fluid>
                </p-select>
            </div>
        </div>

        <div class="mt-4 flex justify-center gap-2">
            <button pButton type="submit">
                <i pButtonIcon class="pi pi-save"></i>
                <span pButtonLabel>Guardar</span>
            </button>
        </div>
    </form>

</p-drawer>

<app-confirm-dialog key="confirmAgregarConfig" title="Confirmación" message="¿Desea agregar esta configuración?"
    icon="pi pi-check" circleClass="bg-primary" acceptStyleClass="bg-primary">
</app-confirm-dialog>

<app-confirm-dialog key="ambitoCompetencia" title="Confirmación" message="¿Está seguro de eliminar esta configuración?"
    icon="pi pi-trash" circleClass="bg-red-600 dark:bg-surface-0" acceptLabel="Eliminar"
    acceptStyleClass="bg-red-600 border-red-600" rejectLabel="Cancelar">
</app-confirm-dialog>
